{% extends 'Pagina/base.html' %}
{% load static %}
{% block content %}
    <div class="home">

        <!-- Hero Slider -->
        <div class="hero_slider_container">
            <div class="hero_slider owl-carousel">


                <!------------------------SLIDER------------------------------------------------------------------->
                <!------------------------------------------------------------------------------------------------->
                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url({% static 'images/img3.jpeg' %})"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"> Nuestros Graduandos <span>Feria de los </span> sueños!</h1>
                        </div>
                    </div>
                </div>
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url({% static 'images/img1.jpeg' %})"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"> Nuestros Graduandos <span>Feria de los </span> sueños!</h1>
                        </div>
                    </div>
                </div>
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url({% static 'images/slide2.jpg' %})"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"> Nuestra <span>Educación</span> Lo Es Todo!</h1>
                        </div>
                    </div>
                </div>
            <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url({% static 'images/img2.jpeg' %})"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"> Nuestros <span>Alumnos</span> presentacion!</h1>
                        </div>
                    </div>
                </div>
                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url({% static 'images/Portada2.JPG' %})"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"><span>Su Felicidad Es Lo Mas Importante!</span></h1>
                        </div>
                    </div>
                </div>

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background" style="background-image:url({% static 'images/Portada1.JPG' %})"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Educación Que <span>Trasciende</span> !</h1>
                        </div>
                    </div>
                </div>

            </div>

            <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">Ant.</span></div>
            <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">Sig.</span></div>
        </div>

    </div>
    <div class="hero_boxes">
        <div class="hero_boxes_inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'images/earth-globe.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Múltiples Carerras</h2>
                                <a href="courses.html" class="hero_box_link">ver más</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'images/books.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Aula Virtual</h2>
                                <a href="courses.html" class="hero_box_link">ver más</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'images/professor.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Actividades</h2>
                                <a href="teachers.html" class="hero_box_link">ver más</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>










    <div class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Grados</h1>
                    </div>
                </div>
            </div>

            <div class="row course_boxes">

                <!-- Popular Course Item -->
                <div class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/Primaria.JPG' %}" alt="Primaria">
                        <div class="card-body text-center">
                            <div class="card-title"><a href="courses.html">Primaria</a></div>
                            <div class="card-text">Contamos con toda la seccion de Pre-Primaria (Estimulacion, Pre-Kinder,Kinder,Preparatoria) y Su Seccion De Primaria (Primero a Sexto).</div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img src="{% static 'images/logo.png' %}">
                            </div>
                            <div class="course_author_name">Mas Informacion...</div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center"><a href=""><img src="{% static 'images/leer.png' %}" height="100" width="100"></a></div>
                        </div>
                    </div>
                </div>

                <!-- Popular Course Item -->
                <div class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/Basico.jpg' %}" alt="Colegio">
                        <div class="card-body text-center">
                            <div class="card-title"><a href="courses.html">Básico</a></div>
                            <div class="card-text">En Basico nos enfocamos en su preparacion para una correcta orientacion en su carrera, Ofrecemos de Primero Basico a Tercero Basico.</div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img src="{% static 'images/logo.png' %}">
                            </div>
                            <div class="course_author_name">Mas Informacion...</div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center"><a href=""><img src="{% static 'images/leer.png' %}" height="100" width="100"></a></div>
                        </div>
                    </div>
                </div>

                <!-- Popular Course Item -->
                <div class="col-lg-4 course_box">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/Bachillerato.jpg' %}" alt="Colegio">
                        <div class="card-body text-center">
                            <div class="card-title"><a href="courses.html">Bachillerato</a></div>
                            <div class="card-text">Contamos con multiples carreras, Bachillerato En Ciencias y Letras, Computacion, Diseño Grafico, Salud y Electronica.</div>
                        </div>
                        <div class="price_box d-flex flex-row align-items-center">
                            <div class="course_author_image">
                                <img src="{% static 'images/logo.png' %}">
                            </div>
                            <div class="course_author_name">Mas Informacion...</div>
                            <div class="course_price d-flex flex-column align-items-center justify-content-center"><a href=""><img src="{% static 'images/leer.png' %}" height="100" width="100"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="register">

        <div class="container-fluid">

            <div class="row row-eq-height">
                <div class="col-lg-6 nopadding">

                    <!-- Register-->

                    <div class="register_section d-flex flex-column align-items-center justify-content-center">
                        <div class="register_content text-center">
                            <h1 class="register_title">Nuestra <span>Mision</span></h1>
                            <p class="register_text">Somos un centro educativo con el apego a los valores de libertad e independencia de todos los miembros de la comunidad educativa siendo lider en la formacion de ciudadanos responsables convirtiendoles en adultos conscients y participes en la construccion de una nueva sociedad, donde impere la justicia, honestidad, equidad e igualdad de derechos.</p>

                        </div>
                    </div>

                </div>

                <div class="col-lg-6 nopadding">

                    <!-- Search --->

                    <div class="search_section d-flex flex-column align-items-center justify-content-center">
                        <div class="search_background" style="background-image:url({% static 'images/22.jpg' %});"></div>
                        <div class="search_content text-center">
                            <h1 class="search_title">Inscripciones Abiertas!</h1>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Services -->

    <div class="services page_section">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Acerca del Colegio</h1>
                    </div>
                </div>
            </div>








            <div class="row services_row">

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/earth-globe.svg' %}" alt="">
                    </div>
                    <h3>Nuestra Educacion</h3>
                    <p>Promover los valores morales y cívicos, la buena utilización del tiempo y la tecnología, los hábitos de trabajo y la autoestima, y así alcanzar la excelencia.</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/exam.svg' %}" alt="">
                    </div>
                    <h3>Perfiles De Egreso</h3>
                    <p>Nuestro sistema metodológico permite a nuestros alumnos desarrollar sus habilidades y destrezas,iniciar su conocimiento al medio,desarrollo social y psicomotriz.</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/books.svg' %}" alt="">
                    </div>
                    <h3>Nivel Académico</h3>
                    <p>Nuestro sistema metodológico permite a nuestros alumnos desarrollar sus habilidades y destrezas, iniciar su conocimiento del medio, desarrollo social y psicomotriz, permitiéndole iniciar adecuadamente su aprendizaje. Esto ha permitido a nuestros alumnos ocupar los primeros lugares en competencias académicas,desenvolverse con éxito en sus estudios universitarios y como excelentes profesionales.</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/professor.svg' %}" alt="">
                    </div>
                    <h3>Maestros</h3>
                    <p>Nuestros maestros estan capacitados para brindar la mejor educacion a nivel pre-primaria, primaria, basico y diversificado.</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/blackboard.svg' %}" alt="">
                    </div>
                    <h3>Olimpiadas</h3>
                    <p>Las olimpiadas de ciencias y tecnologia nos brindan un nivel competitivo que nuestros estudiantes ponen a prueba.</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/mortarboard.svg' %}" alt="">
                    </div>
                    <h3>Graduandos</h3>
                    <p>Las practicas para nuestros graduandos son de vital importancia ya que hay es donde se preparan para el siguiente nivel.</p>
                </div>

            </div>
        </div>
    </div>

    <!-- Testimonials -->

    <div class="testimonials page_section">
        <!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
        <div class="testimonials_background_container prlx_parent">
            <div class="testimonials_background prlx" style="background-image:url({% static 'images/fondoinfo.jpg' %})"></div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>INFORMACION</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <div class="testimonials_slider_container">

                        <!-- Testimonials Slider -->
                        <div class="owl-carousel owl-theme testimonials_slider">

                            <!-- Testimonials Item -->
                            <div class="owl-item">
                                <div class="testimonials_item text-center">
                                    <div class="quote">“</div>
                                    <p class="testimonials_text">A los padres de familia de pre-primaria se les informa que la reunión programada para el día de hoy 1 de febrero a las 2 de la tarde, se llevará a cabo según programación, Los esperamos a todos.</p>
                                    <div class="testimonial_user">
                                        <div class="testimonial_image mx-auto">
                                           <img src="{% static 'images/teacher.png' %}" alt="">
                                        </div>
                                        <div class="testimonial_name">T.Monica Sanchez</div>
                                        <div class="testimonial_title">Dirección</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonials Item -->
                            

                            <!-- Testimonials Item -->
                            

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}