{% extends 'Pagina/base.html' %}
{% load static %}
{% block content %}
   <section class="flat-slider style2">
        <div class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev-slider3" class="rev_slider fullwidthabanner">
                <ul>
                    <!-- Slide 1 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="{% static 'images/home2/P1.JPG' %}" alt="" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->
                        <div class="tp-caption tp-resizeme education"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['90','-100','-80','-50']"
                        data-fontsize="['70','70','70','30']"
                        data-lineheight="['90','90','90','35']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"> <div class="education-text text-white">EDUCACIÓN QUE TRASCIENDE</div> </div> <br>

                        <div class="tp-caption tp-resizeme text-white complete text-edukin"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['150','-10','5','20']"
                        data-fontsize="['17','17','16','14']"
                        data-lineheight="['30','30','26','22']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingright="['550','155','50','2']" >Colegio Privado Mixto Nuevo Mundo y su Sección de Primaria Mi Pequeño Mundo</div>
 
                    </li>

                    <!-- Slide 2 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="{% static 'images/home2/P2.jpg' %}" alt="" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->

                        <div class="tp-caption tp-resizeme font-rubik education education"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-50','-100','-80','-50']"
                        data-fontsize="['70','70','70','30']"
                        data-lineheight="['90','90','90','35']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"> <div class="education-text text-white" >SU FELICIDAD ES LO MÁS IMPORTANTE</div> </div>

                        <div class="tp-caption tp-resizeme text-white complete text-edukin"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['50','-10','5','20']"
                        data-fontsize="['17','17','16','14']"
                        data-lineheight="['30','30','26','22']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingright="['550','155','50','2']" >Colegio Privado Mixto Nuevo Mundo</div>

         
                    </li>

               <!-- Slide 3 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="{% static 'images/home2/P3.jpeg' %}" alt="" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->

                        <div class="tp-caption tp-resizeme font-rubik education education"
                        data-x="['left','left','left','center']" data-hoffset="['160','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-50','-100','-80','-50']"
                        data-fontsize="['70','70','70','30']"
                        data-lineheight="['90','90','90','35']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"> <div class="education-text text-white " >El mejor medio para hacer buenos a los niños es hacerlos felices.</div> </div>

                        <div class="tp-caption tp-resizeme text-white  complete text-edukin"
                        data-x="['left','left','left','center']" data-hoffset="['160','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['90','-10','5','20']"
                        data-fontsize="['17','17','16','14']"
                        data-lineheight="['30','30','26','22']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingright="['550','155','50','2']" style="color:red;">Colegio Privado Mixto Nuevo Mundo</div>

         
                    </li>
                     
                    <!-- Slide 3 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="{% static 'images/home2/P4.jpg' %}" alt="" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->

                        <div class="tp-caption tp-resizeme font-rubik education education"
                        data-x="['left','left','left','center']" data-hoffset="['160','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-120','-100','-80','-50']"
                        data-fontsize="['70','70','70','30']"
                        data-lineheight="['90','90','90','35']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"> <div class="education-text text-white " >Lo único que interfiere con mi aprendizaje es mi educación.</div> </div>

                        <div class="tp-caption tp-resizeme text-white complete text-edukin text1"
                        data-x="['left','left','left','center']" data-hoffset="['160','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-20','-10','5','20']"
                        data-fontsize="['17','17','16','14']"
                        data-lineheight="['30','30','26','22']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingright="['550','155','50','2']" style="color:red; ">Colegio Privado Mixto Nuevo Mundo</div>

         
                    </li>
                </ul>
            </div>
        </div> <!-- slider -->
    </section><!-- flat-slider -->

    <div style="height: 25%;"></div>
    <section class="campus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="flat-benefit-style2 clearfix">
                        <div class="iconbox-benefit iconbox-width50">
                            <div class="iconbox iconbox-one">
                                <div class="iconbox-icon">
                                    <img src="{% static 'images/home2/earth-globe.svg' %}" alt="images" width="80" height="70">
                                </div>
                                <div class="iconbox-content ">
                                    <h3><a href="#">Nuestra Educación</a></h3>
                                    <p style="text-align:center"  >Promover los valores morales y cívicos, la buena utilización del tiempo y la tecnología, los hábitos de trabajo y la autoestima, y así alcanzar la excelencia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="iconbox-benefit iconbox-width50">
                            <div class="iconbox iconbox-two">
                                <div class="iconbox-icon">
                                    <img src="{% static 'images/home2/exam.svg' %}" alt="images" width="80" height="70">
                                </div>
                                <div class="iconbox-content">
                                    <h3><a href="#">Nivel Académico</a></h3>
                                    <p style="text-align: center;">Nuestro sistema metodológico permite a nuestros alumnos desarrollar sus habilidades y destrezas, iniciar su conocimiento al medio, desarrollo social y psicomotriz.</p>
                                </div>
                            </div>
                        </div>
                        <div class="iconbox-benefit iconbox-width50">
                            <div class="iconbox iconbox-three">
                                <div class="iconbox-icon">
                                    <img src="{% static 'images/home2/professor.svg' %}" alt="images" width="80" height="70">
                                </div>
                                <div class="iconbox-content">
                                    <h3><a href="#">Maestros</a></h3>
                                    <p style="text-align: center;">Nuestros maestros están capacitados para brindar la mejor educación a nivel pre-primaria, primaria, básico y diversificado.</p>
                                </div>
                            </div>
                        </div>
                        <div class="iconbox-benefit iconbox-width50">
                            <div class="iconbox iconbox-four">
                                <div class="iconbox-icon">
                                    <img src="{% static 'images/home2/blackboard.svg' %}" alt="images" width="80" height="80">
                                </div>
                                <div class="iconbox-content">
                                    <h3><a href="#">Olimpiadas</a></h3>
                                    <p>Las olimpiadas de ciencias y tecnología nos brindan un nivel competitivo que nuestros estudiantes ponen a prueba.</p>
                                </div>
                            </div>
                        </div> 
                        
                    </div>
                </div>
               
        </div>
        <div style="height: 15%;"></div>
    </section><!-- campus -->
    <section class="flat-introduce flat-introduce-style2 clearfix">
        <div class="bg"></div>
        <div class="container-fluid">
            <div class="section-about-left">
                <div class="videobox">
                  <img src="{% static 'images/home2/card2.jpg' %}" alt="images">
                </div>
            </div>
            <div class="section-about-right content-introduce">
                <div class="caption">
                    ACERCA DE NOSOTROS
                </div>
                <div class="title-section">
                    <div class="flat-title small heading-type1">Nuestra Misión</div>
                </div>
                <div class="content-introduce-inner ">
                    <p style="text-align:justify">Somos un centro educativo con el apego a los valores de libertad e independencia de todos los miembros de la comunidad educativa siendo líder en la formación de ciudadanos responsables convirtiéndoles en adultos conscientes y participes en la construcción de una nueva sociedad, donde impere la justicia, honestidad, equidad e igualdad de derechos.
                    </p>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="flat-services-style2 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="flat-imagebox imagebox-services themesflat-content-box" data-padding="0% 0% 0% 3.6%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="imagebox-content">
                            <center><img src="{% static 'images/home2/25.png' %}" alt="images"></center>
                            <h5 class="text-one text-white">La mejor educación</h5>
                            <p class="text-white">
                              Contamos con los mejores docentes, para garantizar que, nuestra educación es la mejor.  
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="flat-imagebox imagebox-services themesflat-content-box" data-padding="3% 0% 0% 3%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="imagebox-content">
                            <center><img src="{% static 'images/home2/13.png' %}" alt="images"></center>
                            <h5 class="text-two text-white">Exito en aprendizaje</h5>
                            <p class="text-white">
                               Brindamos atención personalizada esto aumenta la curva de su aprendizaje.
                            </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="flat-imagebox imagebox-services themesflat-content-box" data-padding="0% 0% 0% 2.5%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="imagebox-content">
                            <center><img src="{% static 'images/home2/26.png' %}" alt="images"></center>
                            <h5 class="text-three text-white">El mejor contenido</h5>
                            <p class="text-white">
                               Buscamos siempre el mejor contenido y transmitirlo de la mejor forma.
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="flat-imagebox imagebox-services themesflat-content-box" data-padding="0% 0% 0% 2.2%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="imagebox-content">
                            <center><img src="{% static 'images/home2/14.png' %}" alt="images"></center>
                            <h5 class="text-four text-white">Preparacion Pre-Universitaria</h5>
                            <p class="text-white">
                                Estamos siempre actualizados, contamos con múltiples opciones en carreras.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- flat-services -->
    
    <!-- flat-benefit -->
    <section class="testimonial testimonial-style2">
        <div class="container">
            <div class="row">
             
                <div class="col-lg-12 col-md-12 col-sm-12 max-width100">
                    <div class="wrap-testimonial">
                        <div class="title-section">
                            <div class="flat-title small heading-type5">
                                CITAS
                            </div>
                        </div>
                        <div class="client-style2 clearfix">
                            <div class="flat-carousel-box data-effect clearfix" data-gap="30" data-column="1" data-column2="1" data-column3="1" data-column4="1" data-dots="true" data-auto="false" data-nav="false">
                                <div class="owl-carousel">

                                    <div class="testimonial-content">
                                        <div class="text text-white">
                                           Nunca consideres el estudio como una obligación, sino como una oportunidad para penetrar en el bello y maravilloso mundo del saber.
                                        </div>
                                        <div class="author-info">
                                            <h5>
                                                <a href="#">Albert Einstein</a>
                                            </h5>
                                            <p class="position">
                                                Cientifico
                                            </p>
                                        </div>
                                    </div>
                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- testimonial -->
    <section class="flat-benefit style22">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title-section">
                        <div class="flat-title small heading-type5">
                           ¿Porque escogernos? 
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="iconbox-benefit">
                                <div class="iconbox">
                                    <div class="iconbox-icon">
                                        <img src="{% static 'images/home2/8.png' %}" alt="images">
                                    </div>
                                    <div class="iconbox-content iconbox-content-style22">
                                        <h3><a href="#">Metas</a></h3>
                                        <p>
                                           Tenemos los mejores métodos de enseñanza para alcanzar todas sus metas de estudio.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="iconbox-benefit">
                                <div class="iconbox">
                                    <div class="iconbox-icon">
                                        <img src="{% static 'images/home2/18.png' %}" alt="images">
                                    </div>
                                    <div class="iconbox-content iconbox-content-style22">
                                        <h3><a href="#">Carreras</a></h3>
                                        <p>
                                           Contamos con la mejor formacion en pre-primaria, primaria, basico y diversificado.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="iconbox-benefit">
                                <div class="iconbox">
                                    <div class="iconbox-icon">
                                        <img src="{% static 'images/home2/19.png' %}" alt="images">
                                    </div>
                                    <div class="iconbox-content iconbox-content-style22">
                                        <h3><a href="#">Metodos de Estudio</a></h3>
                                        <p>
                                          Tenemos las mejores tutorías en todos los niveles para garantizar el mejor aprendizaje.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7">
                    <div class="featured-post">
                        <img src="{% static 'images/home2/8.jpg' %}" alt="images" style="border-radius:150px;">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- flat-benefit -->
{% endblock %}