
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="es">
<head>
     <title>LOGIN-Colegio Nuevo Mundo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="{% static 'administracion/logs/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/vendor/css-hamburgers/hamburgers.min.css' %}">  
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/vendor/daterangepicker/daterangepicker.css' %}">  
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/login/css/main.css' %}">
       <script src="{% static 'administracion/logs/js/bootstrap-tour-standalone.min.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
</head>
<body>
    
    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'administracion/login/images/bg-01.jpeg' %}');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post" action="{% url 'login' %}"> 
                   {% csrf_token %}
                    <span class="login100-form-logo">
                        <img src="{% static 'administracion/login/images/1.png' %}" width="155%">
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Iniciar Sesion
                    </span>
                    <br>
                     <br>
                   <div style="position: relative;top: -50px;">
                       <center><button type="button" class="btn btn-default btn-default" onclick="tours();">
            <span class="glyphicon glyphicon-star"></span>AYUDA
                </button>

            </center>
             <br>
                    <div class="wrap-input100 validate-input" data-validate = "Ingrese su nombre de usuario" id="code">
                        {{ form.username|add_class:"input100"|attr:"placeholder:Tu codigo escribelo aquí" }}
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Ingrese su contraseña" id="password">
                       {{ form.password|add_class:"input100"|attr:"placeholder:Ingrese su contraseña" }}
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                     {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> Tu usuario y/o contraseña no son las correctas, porfavor intentalo de nuevo. 
    </div>
    {% endif %}
                    

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" id="button">
                            Iniciar
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            ¿Olvido Contraseña?
                        </a>
                    </div>


                   
                </form>
            </div>
        </div>
    </div>
    

    <div id="dropDownSelect1"></div>

    
    
<!--===============================================================================================-->
    <script src="{% static 'administracion/logs/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'administracion/logs/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'administracion/logs/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'administracion/logs/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'administracion/logs/vendor/tilt/tilt.jquery.min.js' %}"></script>

    <script src="{% static 'administracion/logs/js/bootstrap-tour-standalone.min.js' %}"></script>


    <script >
        var tour;
        var init=0;
        $('.js-tilt').tilt({
            scale: 1.1
        });
        $( window ).on( "load", function() {
            tour = new Tour({
          steps: [
          {
            element: "#code",
            title: "Bienvenido!",
            content: "Para iniciar sesión, primero deberá ingresar su código, éste código es el proporcionado por dirección, con el que se realiza el pago de colegiatura Ej.202000."
          },
          {
            element: "#password",
            title: "Contraseña",
            content: "Aquí deberá ingresar su contraseña, si es la primera vez que inicia sesión, la contarseña será Colegio123, la letra C deberá colocarse mayúscula."
          } ,
          {
            element: "#button",
            title: "Contraseña",
            content: "Al completar los campos anteriores con su código y contraseña, deberá presionar el botón INGRESAR."
          } 
        ],
        template: "<div class='popover tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><div class='popover-navigation'><button class='btn btn-default' data-role='prev'>« Anterior</button><span data-role='separator'></span><button class='btn btn-default' data-role='next'>Siguiente »</button></div><center><button class='btn btn-default' data-role='end'>Terminar</button></center></div>",
        }

        );
    });
        
       
        function tours() {   
            tour.init();
            tour.restart(true);
          tour.start(true);
          
        
            
              
         
        }
    </script>

</body>
</html>
   
