{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}

      
<script type="text/javascript">
    window.onload = function() {
    {% if errores %}
    Lobibox.notify('error', {
                    showClass: 'zoomInUp',
                    hideClass: 'zoomOutDown',
                    delay: 5000,
                    msg: '{{errores}}'
                });
    {% endif %}
    {% if mensajes %}
        Lobibox.notify('success', {
                    showClass: 'rollIn',
                    hideClass: 'rollOut',
                    msg: '{{mensajes}}'
                });                        
     {% endif %}
    
};
</script>
    <div class="basic-form-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="sparkline8-list mt-b-30">
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd">
                                    <h1>Asignacion De Examenes A Alumnos</h1>
                                </div>
                            </div>
 
    <form method="POST" class="post-form">{% csrf_token %}
        {% if form.errors %}
                                <div class="alert-icon shadow-inner wrap-alert-b">
                            <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                                <i class="fa fa-window-close edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <i class="fa fa-times edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <p class="message-mg-rt"><strong><center>{{ form.errors }}</center></strong> </p>
                            </div>
                        </div>
                              {% endif %}
                                     <div class="form-group-inner">
                                                        <div class="row">


                                                             <!---Alumno---><br><br><br>
                                                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                       <label class="login2 pull-right pull-right-pro" for="{{ form.Boleta.id_for_label }}"> Alumno: </label>   
                                                        </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                    
                                                                        <select data-placeholder="Seleccione Un alumno..." class="chosen-select" name="alumno">
                                                                        {% for alumno in alumnos %}
                                                                        <option value="{{alumno.pk}}"> {{alumno.Primer_Nombre}} {{alumno.Primer_Apellido}} {{alumno.Grado}} {{alumno.Seccion}}</option>
                                                                        {%endfor%}
                                                                        </select>
                                                                    
                                                                      
                                                              </div>
                                                            
                                                            </div>
                                                            <!---Nota  ---><br><br><br>
                                                           
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                       <label class="login2 pull-right pull-right-pro" for="{{ form.Nota_Idioma.id_for_label }}"> Nota Idioma: </label>   
                                                        </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                        
                                                        {{form.Nota_Idioma}}

                                                                </div>
                                                            </div>
                                                            <!---Comentario---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.Comentario_Idioma.id_for_label }}">Comentario:</label>
                                                            </div>    
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form.Comentario_Idioma}}
                                                            </div>
                                                            <!---Estado Examen---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.Estado_Idioma.id_for_label }}">Estado:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                 <div class="form-select-list">
                                                                    {{ form.Estado_Idioma }}
                                                                </div> 
                                                              
                                                            </div>  
                                                             <br><br><br><!---Nota  --->
                                                           
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                       <label class="login2 pull-right pull-right-pro" for="{{ form.Nota_Matematicas.id_for_label }}"> Nota Matematicas: </label>   
                                                        </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                        
                                                        {{form.Nota_Matematicas}}

                                                                </div>
                                                            </div>
                                                            <!---Comentario---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.Comentario_Matematicas.id_for_label }}">Comentario:</label>
                                                            </div>    
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form.Comentario_Matematicas}}
                                                            </div>
                                                            <!---Estado Examen---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.Estado_Matematicas.id_for_label }}">Estado:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                 <div class="form-select-list">
                                                                    {{ form.Estado_Matematicas }}
                                                                </div> 
                                                              
                                                            </div>  
                                                            <br><br><br><!---Nota  --->
                                                           
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                       <label class="login2 pull-right pull-right-pro" for="{{ form.Nota_Ingles.id_for_label }}"> Nota Ingles: </label>   
                                                        </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                        
                                                        {{form.Nota_Ingles}}

                                                                </div>
                                                            </div>
                                                            <!---Comentario---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.Comentario_Ingles.id_for_label }}">Comentario:</label>
                                                            </div>    
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form.Comentario_Ingles}}
                                                            </div>
                                                            <!---Estado Examen---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.Estado_Ingles.id_for_label }}">Estado:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                 <div class="form-select-list">
                                                                    {{ form.Estado_Ingles }}
                                                                </div> 
                                                              
                                                            </div>  
                                                            <br>
                                                            <br>
                                                            <br>
                                                        <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                       <center><button class="btn btn-white" type="submit">Guardar y Añadir Nuevo</button>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Guardar</button></center>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                </form>
                            <!--- fin form :)--->     
                        </div>
                    </div>
                </div>   
            </div>   
        </div>

<!-- notification JS
        ============================================ -->
    <script src="{% static 'administracion/js/notifications/Lobibox.js' %}"></script>
    <script src="{% static 'administracion/js/notifications/notification-active.js' %}"></script>
 <!-- chosen JS
        ============================================ -->
    <script src="{% static 'administracion/js/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'administracion/js/chosen/chosen-active.js' %}"></script>
{% endblock %}