{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <div class="advanced-form-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline8-list mt-b-30">
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd">
                                   <center> <h1>Ingresar Contenido Examenes</h1></center>
                                </div>
                            </div>


<center>
    <form method="POST">
        {% csrf_token %}
         <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="login2 pull-right pull-right-pro"for="{{ form.Grado.label }} ">Grado:</label>
       </div>
             <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="form-select-list">
                    
            {{ form.Grado }}
                </div> 
                                                              
            </div> 
            
        </div>
        
          <br>
        <div class="row">
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="login2 pull-right pull-right-pro"for="{{ form.Grado.label }} ">{{ form.Seccion.label_tag }}</label>
            </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="form-select-list">
                    
            {{ form.Seccion }} 
                </div> 
                                                              
            </div> 
            
                                               
           
           
           
        </div>
         <br>
          <div class="row">
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="login2 pull-right pull-right-pro"for="{{ form.Grado.label }} ">{{ form.Materias.label_tag }}</label>
            </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="form-select-list">
                     {{ form.Materias }}
                </div> 
                                                              
            </div> 
            
                                               
           
           
           
        </div>
        <br>
         <div class="row">
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="login2 pull-right pull-right-pro"for="{{ form.Grado.label }} "> {{ form.contenido.label_tag }} </label>
            </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="form-select-list">
                     {{ form.contenido }}
                </div> 
                                                              
            </div> 
            
                                               
           
           
           
        </div>
         <br>
        <div class="row">
             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <label class="login2 pull-right pull-right-pro"for="{{ form.Grado.label }} "> {{ form.pagina.label_tag }}</label>
            </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="form-select-list">
                       
            {{ form.pagina }}
                </div> 
                                                              
            </div> 
            
                                               
           
           
           
        </div>
       <br>
       
        <button type="submit" class="save btn btn-default">Guardar</button>
    </form>
    </center>
    </div>
                    </div>
                </div>   
            </div>   
        </div>
        <script src="{% static 'administracion/js/icheck/icheck.min.js' %}"></script>
    
    <script type="text/javascript">
        $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
        $( document ).ready(function() {
            $("#id_Seccion").change(getMaterias);
            $("#id_Grado").change(getMaterias);
        });
       
        function getMaterias() {

            var GradoId = $("#id_Grado").val();
            var seccion = $('#id_Seccion').val()
            
            if (GradoId) {
                // Eliminamos las opciones anteriores del select
                $("#id_Materias").html("");
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_materias' %}",
                    data: {
                        "grado_id": GradoId,
                        "seccion": seccion,
                    },
                });
                request.done(function(response) {
                    
                    // Agregamos los resultados al select

                    $("#id_Materias").html(response.materias);
                    $("#id_Materias").trigger("change");
                });
            } else {
                $("#id_Materias").html("<option value='' selected='selected'>---------</option>");
            }
        }    

        
    </script>
      
    <script src="{% static 'administracion/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <!-- jquery
        ============================================ -->
    <script src="{% static 'administracion/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{% static 'administracion/js/bootstrap.min.js' %}"></script>
    


{% endblock %}