{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}

      
<script type="text/javascript">
    window.onload = function() {
    {% if errores %}
    Lobibox.notify('error', {
                    showClass: 'zoomInUp',
                    hideClass: 'zoomOutDown',
                    delay: 50000,
                    msg: '{{errores}}'
                });
    {% endif %}
    {% if mensajes %}
        Lobibox.notify('success', {
                    showClass: 'rollIn',
                    hideClass: 'rollOut',
                    msg: '{{mensajes}}'
                });                        
     {% endif %}
    
};
</script>
<form method="POST" class="post-form">{% csrf_token %}
 <!-- Advanced Form Start -->
        <div class="advanced-form-area mg-b-15">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline10-list mg-tb-30 responsive-mg-t-0 table-mg-t-pro-n dk-res-t-pro-0 nk-ds-n-pro-t-0">
                            <div class="sparkline10-hd">
                                <div class="main-sparkline10-hd">
                                    <center><h1>Asignacion De Pagos A Alumnos</h1></center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="chosen-select-single">
                                        <center><label>Seleccione los pagos que desea realizar</label></center>
                        <center><select name="tipo_pago" class='chosen-select' multiple data-placeholder='Seleccione los pagos a efectuar...' id="tipo_pago" onchange="comprobar()">
                            <option value="Seguro">Seguro</option>
                            <option value="Examen">Examen</option>
                            <option value="Inscripcion">Inscripcion</option>
                            <option value="Enero">Enero</option>
                            <option value="Febrero">Febrero</option>
                            <option value="Marzo">Marzo</option>
                            <option value="Abril">Abril</option>
                            <option value="Mayo">Mayo</option>
                            <option value="Junio">Junio</option>
                            <option value="Julio">Julio</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Septiembre">Septiembre</option>
                            <option value="Octubre">Octubre</option>
                            <option value="Otro">Otro</option>
                        </select>
                        </center>
                                        
        
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

 
        <div id="contenedor">
            
                    {% if form.errors %}
                        <div class="alert-icon shadow-inner wrap-alert-b">
                            <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                                <i class="fa fa-window-close edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <i class="fa fa-times edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <p class="message-mg-rt"><strong><center>{{ form.errors }}</center></strong> </p>
                            </div>
                        </div>
                    {% endif %}
<input type="text" name="tipos" id="tipos" style="display: none;">
        <div class="basic-form-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    {% for o in "abcdefghijklmnop" %}
                    <div id="boleta{{ forloop.counter0 }}" style="display:none">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="sparkline8-list mt-b-30">
                                    <div class="sparkline8-hd">
                                        <div class="main-sparkline8-hd">
                                            <center><h1></h1></center>
                                        </div>
                                    </div>
         

                                          <div class="form-group-inner">
                                        

                                                            <div class="row">

                                                               <center> <h2 id="nombre{{ forloop.counter0 }}">-</h2></center>
                                                               <!---codigo  --->
                                                               <br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                           <label class="login2 pull-right pull-right-pro" for="{{ form.Boleta.id_for_label }}"> Boleta: </label>   
                                                            </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <div class="input-mark-inner mg-b-22">
                                                            
                                                           <input name="boleta{{ forloop.counter0 }}" type="text" name="" class="form-control" placeholder="Escriba la boleta de pago del alumno">

                                                                    </div>
                                                                </div>
                                                                 <!---Alumno---><br><br><br>
                                                                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                           <label class="login2 pull-right pull-right-pro" for="{{ form.Boleta.id_for_label }}"> Alumno: </label>   
                                                            </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                  <div class="chosen-select-single mg-b-20">
                                                                        
                                                                            <select data-placeholder="Seleccioné un alumno" class="chosen-select" multiple tabindex="-1" name="alumno{{ forloop.counter0 }}">
                                                                                {% for alumno in alumnos %}
                                                                                <option value="{{ alumno.Codigo }}">{{ alumno }}</option>
                                                                            {% endfor %}
                                                                            
                                                                                
                                                                            </select>
                                                                        
                                                                          
                                                                  </div>
                                                                
                                                                </div>
                                                                <!---Cantidad---><br><br><br>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro"for=" {{ form.Cantidad.id_for_label }}">Cantidad:</label>
                                                                </div>    
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input type="number" name="cantidad{{ forloop.counter0 }}" class="form-control" placeholder="Escriba la cantidad total del pago">
                                                                    
                                                                </div>
                                                                
                                                                 <!---Comentario---><br><br><br>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <label class="login2 pull-right pull-right-pro"for=" {{ form.Comentario.id_for_label }}">Comentario:</label>
                                                                </div>    
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    <input type="text" name="comentario{{ forloop.counter0 }}" class="form-control" placeholder="Comentario al pago del alumno">
                                                                    
                                                                </div>
                                                                
                                                        
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                
                             
                        </div>
                        {% endfor %}
<!---- AQUI VA LA PROGRA -->


                         
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="sparkline8-list mt-b-30">
                                    <div class="form-group-inner">
                                                            <div class="login-btn-inner">
                                                                <div class="row">
                                                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div class="login-horizental cancel-wp pull-left form-bc-ele" style="ce">
                                                                            <button class="btn btn-white" type="submit">Guardar y Añadir Nuevo</button>
                                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Guardar</button>
                                                                        </div>
                                                                     </div>  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                </div>
                        </div>
                    </div>
                </div>   
            </div>   
        </div>
        </form>
         <!--- fin form :)--->   

<!-- notification JS
        ============================================ -->
    <script src="{% static 'administracion/js/notifications/Lobibox.js' %}"></script>
    <script src="{% static 'administracion/js/notifications/notification-active.js' %}"></script>
         <!-- chosen JS
        ============================================ -->
    <script src="{% static 'administracion/js/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'administracion/js/chosen/chosen-active.js' %}"></script>
<script type="text/javascript">
    function mostrar($element){
        document.getElementById($element).style.display = 'block';
    }

    function ocultar($element){
        document.getElementById($element).style.display = 'none';
    }
  function comprobar()
  {
    var val = document.getElementById("tipo_pago");
    var lista = val.selectedOptions;

    for(var i=0;i<14;i++)
    {
        ocultar("boleta"+i);
    }
    var list="";
    for(var i=0;i<lista.length;i++)
    {
        valorg=lista[i].value;
        if(list!="")
        {
            list = list+","+valorg;
        }
        else
        {
            list = valorg;
        }
        mostrar("boleta"+i);
        document.getElementById("nombre"+i).innerHTML = valorg;
    }
    $("#tipos").val(list);

    
  }
   
</script>

{% endblock %}