{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}
{% load index %}

<!-- bootstrap JS
        ============================================ -->
    
<script>
    function cambio(pkal,pkact,newValue)
    {
        var total=0;
       total=$('#total'+pkal).html();
       act = $('#Nota'+pkal+pkact).html();
       var total1 = parseInt(total)+parseInt(newValue-act);
       $('#total'+pkal).text(total1)
    }    
        $(document).ready(function() {
    

     
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';     
    
    //make username editable
    {% for alumno in alumnos %}
    {% for nota in Notas %}
    {%if alumno.pk == nota.Alumno%}
    $('#Nota{{ alumno.pk }}{{ nota.Actividad }}').editable({
         
            params: {
                csrfmiddlewaretoken:'{{csrf_token}}',
                model:'Asignacion_Punteo',
                Actividad: '{{ nota.Actividad }}',
                alumno:'{{ alumno.pk }}'
            },
            url: 'ponderar/',
            error: function(response, newValue) {
                return response.responseText;
            },
            success: function(response, newValue) {
                if(!response.success) 
                    return response.error_msg;
                else
                    cambio("{{ alumno.pk }}","{{ nota.Actividad }}",newValue);
            }
        
        });
    {%endif%}
    {%endfor%}
    {%endfor%}
});


    </script>
    





      <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1><b>Cuadro </b><span class="table-project-n">De Notas Por Curso </span></h1>
                                    <p><b>Curso: </b>{{curso.Materia}}</p>
                                    <p><b>Grado:</b> {{curso.Grado}}</p>
                                    <p><b>Seccion:</b> {{curso.Seccion}}</p>
                                    <p><b>Unidad:</b> {{unidad}}</p>
                                    
                                    
                                </div>
<div class="login-form-area edu-pd mg-b-15">
            <div class="container-fluid">
                {%if Estado == "Aprobado" %}
                    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content-details shadow-reset">
                            <h2>Estado Notas</h2>
                            {% if "Super Usuario" in Permisos|stringformat:"s"%}
                            Las notas de este curso estan <font color="green">Aprobadas</font>
                            {%else%}
                           ¡Felicidades el estado de tus notas es <font color="green">{{Estado}}!</font>
                           {%endif%}
                        </div>
                    </div>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content-details shadow-reset">
                            <h2>Estado Notas</h2>
                           <font color="green"></font>{{Estado}}
                        </div>
                    </div>
                
                </div>
                {%elif Estado == "No Aprobado" %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content-details shadow-reset">
                            <h2>Publicar Notas</h2>

                           <div class="modal-area-button">
                                <a class="Primary mg-b-10" href="#" data-toggle="modal" data-target="#PrimaryModal">Publicar todas las notas</a>
                            </div> 
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content-details shadow-reset">
                            <h2>Estado Notas</h2>
                          <font color="red"> {{Estado}}</font>
                        </div>
                    </div>
                
                </div>
                {%elif Estado == "Pendiente" %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content-details shadow-reset">
                            <h1>Estado Notas</h1>
                         <h2 style="color:green;"> {{Estado}}</font></h2>
                        </div>
                    </div>
                
                </div>
                {%endif%}

{% if "Super Usuario" in Permisos|stringformat:"s"%}
<center>
                {%if Estado != "Aprobado" %}
                <a href="#" data-toggle="modal" data-target="#Aprobar" type="button" class="btn btn-custon-rounded-two btn-success"><i class="fa fa-check edu-checked-pro" aria-hidden="true"></i> Aprobar notas</a>
                {%endif%}
                {%if Estado != "Pendiente" %}
                 <a href="#" data-toggle="modal" data-target="#Pendientes" type="button" class="btn btn-custon-rounded-four btn-warning"><i class="fa fa-exclamation-triangle edu-warning-danger" aria-hidden="true"></i> Notas pendientes</a>
                 {%endif%}
                 {%if Estado != "No Aprobado" %}
                 <a href="#" data-toggle="modal" data-target="#Noaprobado" type="button" class="btn btn-custon-rounded-four btn-danger"><i class="fa fa-times edu-danger-error" aria-hidden="true"></i> No aprobar notas</a>
                 {%endif%}
</center>
{%endif%}

                <div id="PrimaryModal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header header-color-modal bg-color-1">
                                        <h4 class="modal-title">Asignar una nota al curso {{curso.Materia}} en la {{unidad}}</h4>
                                        <div class="modal-close-area modal-close-df">
                                            <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <i class="educate-icon educate-checked modal-check-pro"></i>
                                        <h2>Asignar Una Nota!</h2>
                                        <p>Estas a punto de asignar notas del curso <font color="red">{{curso.Materia}} </font>del grado <font color="red">{{curso.Grado}} 
                                        {% if curso.Grado.Nivel != "Diversificado" %}
                                        seccion {{curso.Seccion}}{%endif%}</font> a la <font color="red">{{unidad}}</font>, Estas notas seran asignadas por las actividades que se encuentran en la tabla de abajo, al asignar notas no podras eliminar la actividad asignada a un alumno, y se nesecitara confirmacion de la nota para poder ser publicada, deseas continuar?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a data-dismiss="modal" href="#">Cancelar</a>
                                        <a href="{% url 'asignar_notas' pk=curso.pk act=2 %}">Asignar Notas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
<div id="Noaprobado" class="modal modal-edu-general FullColor-popup-DangerModal PrimaryModal-bgcolor fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                                        <h2>Notas no aprobadas del curso {{curso.Materia}} en la unidad {{unidad}}</h2>
                                        <h2>Notas no aprobadas!</h2>
                                        <p>Esta a punto de asignar las notas del curso <font color="red">{{curso.Materia}} </font>del grado <font color="red">{{curso.Grado}} 
                                        {% if curso.Grado.Nivel != "Diversificado" %}
                                        seccion {{curso.Seccion}}{%endif%}</font> a la <font color="red">{{unidad}}</font> en estado no aprobadas, Estas notas podran ser modificadas y asignadas, los alumnos podran visualizar dichas notas parcialmente, deseas continuar?</p>
                                    </div>
                                    <div class="modal-footer footer-modal-admin danger-md">
                                        <a data-dismiss="modal" href="#">Cancelar</a>
                                        <a href="{% url 'asignar_notas' pk=curso.pk act=1%}">Continuar</a>
                                    </div>
                                </div>
                            </div>
                        </div>



<div id="Pendientes" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header header-color-modal bg-color-4">
                                        <h4 class="modal-title">Notas Pendientes del curso {{curso.Materia}} en la unidad {{unidad}}</h4>
                                        <div class="modal-close-area modal-close-df">
                                            <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                                        <h2>Notas pendientes!</h2>
                                        <p>Esta a punto de asignar las notas del curso <font color="red">{{curso.Materia}} </font>del grado <font color="red">{{curso.Grado}} 
                                        {% if curso.Grado.Nivel != "Diversificado" %}
                                        seccion {{curso.Seccion}}{%endif%}</font> a la <font color="red">{{unidad}}</font> en estado pendiente, Estas notas no podran ser modificadas ni publicadas, los alumnos podran visualizar dichas notas parcialmente, deseas continuar?</p>
                                    </div>
                                    <div class="modal-footer danger-md">
                                        <a data-dismiss="modal" href="#">Cancelar</a>
                                        <a href="{% url 'asignar_notas' pk=curso.pk act=2%}">Asignar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            <div id="Aprobar" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header header-color-modal bg-color-1">
                                        <h4 class="modal-title">Aprobar notas del curso {{curso.Materia}} en la unidad {{unidad}}</h4>
                                        <div class="modal-close-area modal-close-df">
                                            <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <i class="educate-icon educate-checked modal-check-pro"></i>
                                        <h2>Aprobar notas!</h2>
                                        <p>Esta a punto de aprobar notas del curso <font color="red">{{curso.Materia}} </font>del grado <font color="red">{{curso.Grado}} 
                                        {% if curso.Grado.Nivel != "Diversificado" %}
                                        seccion {{curso.Seccion}}{%endif%}</font> a la <font color="red">{{unidad}}</font>, Estas notas seran asignadas por las actividades que se encuentran en la tabla de abajo, al aprobar estas notas los alumnos podran visualizar dichas notas, deseas continuar?</p>
                                    </div>
                                    <div class="modal-footer warning-md">
                                        <a data-dismiss="modal" href="#">Cancelar</a>
                                        <a href="{% url 'asignar_notas' pk=curso.pk act=3%}">Aprobar</a>
                                    </div>
                                </div>
                            </div>
                        </div>


            </div>
        </div>



                            </div>
                        <div class="sparkline8-list">
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd">
                                    <h1>{{curso.Materia}}</h1>
                                </div>
                            </div>
                            <div class="sparkline8-graph">
                                <div class="table-responsive static-table-list">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Apellidos Del Alumno</th>
                                                <th>Nombres Del Alumno</th>
                                                {% for actividad in actividades %}
                                                <th>{{ actividad.Nombre_Actividad|actividad }}</th>
                                                {% endfor %}
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                         <tbody>          
                                        {% for alumno in alumnos %}
                                            <tr>
                                                
                                              
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ alumno.Primer_Apellido }} {{ alumno.Segundo_Apellido }}</td>
                                                <td>{{ alumno.Primer_Nombre }}
                                                {%if alumno.Segundo_Nombre%} 
                                                 {{ alumno.Segundo_Nombre }}
                                                 {%endif%}
                                                 </td>
                                            {% for nota in Notas %}
                                        {%if alumno.pk == nota.Alumno%}

                            <td>
                                {%if Estado == "No Aprobado" %}

                                <a href="#" id="Nota{{ alumno.pk }}{{ nota.Actividad }}" data-type="text" data-pk="{{ nota.pk }}" data-placement="right" data-title="Ingrese La Nota De {{nota.act|actividad}}">{{nota.Punteo}}</a>
                                {%else%}
                                {{nota.Punteo}}
                                {%endif%}
                            </td>
                            {%endif%}
                                            {% endfor %}
                                               <td id="total{{ alumno.pk }}">{{total|index:forloop.counter0}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        


                      
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
         </body> 
     

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>

{% endblock %}