{% load static %}
{% load index %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Contenido Examenes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/contenido/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/contenido/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/contenido/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/contenido/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/contenido/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/contenido/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'administracion/contenido/css/main.css' %}">
<!--===============================================================================================-->
</head>




<style type="text/css">
img, video, object, embed {
  max-width:100%;      /* Aquí el tamaño máximo de tus imágenes */
  height:auto;         /* No es necesario, sólo para clarificar */
}
  .logo{
    background-color: white;
  }
body {
  background-image: url("{% static 'administracion/contenido/images/bg.jpg' %}");
  background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
</style>

<body>
    
<div id="menu" class="col-md-12 text-right">
     <div class="container">
        <a class="btn btn-primary" href="..\.."><i class="fa fa-home" aria-hidden="true"></i> Regresar</a>
       
        
         
      </div>
    </div>
    <!-- menu -->
<center>
  <div class="logo">
<img src="{% static 'administracion/contenido/images/logoblanco.jpg' %}" height="100" width="200"></center>
</div>

<div class="jumbotron">
    <center><h1>CONTENIDO DE EXAMENES</h1></center>
</div>
{{grado}}
        <div class="container">
            <center>
                <iframe src="

                {% ifequal grado|stringformat:'s' 'Primero Basico' %}
                    {%if Seccion == 'A'%}
                    {% static 'administracion/contenidos/B1A.pdf' %}
                    {%endif%}
                    {%if Seccion == 'B'%}
                    {% static 'administracion/contenidos/B1B.pdf' %}
                    {%endif%}
                {%endifequal%}
                 {% ifequal grado|stringformat:'s' 'Segundo Basico' %}
                    {%if Seccion == 'A'%}
                    {% static 'administracion/contenidos/B2A.pdf' %}
                    {%endif%}
                    {%if Seccion == 'B'%}
                    {% static 'administracion/contenidos/B2B.pdf' %}
                    {%endif%}
                {%endifequal%}
                {% ifequal grado|stringformat:'s' 'Tercero Basico' %}
                    {%if Seccion == 'A'%}
                    {% static 'administracion/contenidos/B3A.pdf' %}
                    {%endif%}
                    {%if Seccion == 'B'%}
                    {% static 'administracion/contenidos/B3B.pdf' %}
                    {%endif%}
                {%endifequal%}
                {% ifequal grado|stringformat:'s' 'Cuarto Salud Diversificado' %}
                    {%if Seccion == 'A'%}
                    {% static 'administracion/contenidos/B4 SALUD.pdf' %}
                    {%endif%}
                {%endifequal%}
                {% ifequal grado|stringformat:'s' 'Cuarto Electrónica Diversificado' %}
                    {%if Seccion == 'A'%}
                    {% static 'administracion/contenidos/B4 ELECTRONICA.pdf' %}
                    {%endif%}
                {%endifequal%}
                 {% ifequal grado|stringformat:'s' 'Cuarto Ciencias y Letras Diversificado' %}
                    {%if Seccion == 'A'%}
                    {% static 'administracion/contenidos/B4 ELECTRONICA.pdf' %}
                    {%endif%}
                {%endifequal%}
                {% ifequal grado|stringformat:'s' 'Cuarto Computación Diversificado' %}
                    {%if Seccion == 'A'%}
                    {% static 'administracion/contenidos/B4 Compu.pdf' %}
                    {%endif%}
                {%endifequal%}
                " width="1000" height="750" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
            </center>                       
                                    
                                    
                                  

    
        </div>
   




<!--===============================================================================================-->  
    <script src="{% static 'administracion/contenido/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'administracion/contenido/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'administracion/contenido/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'administracion/contenido/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'administracion/contenido/js/main.js' %}"></script>
</body>
</html>
