{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
  <!-- importing reset and custom css -->

<!-- income order visit user End -->
<div class="dashtwo-order-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">0</span>%</h3>
                                    <p>Pagos Pre-primaria Agosto</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">0</span>%</h3>
                                    <p>Pagos Primaria Agosto</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">0</span>%</h3>
                                    <p>Pagos Basico Agosto</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">0</span>%</h3>
                                    <p>Pagos Diversificado Agosto</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="analysis-rounded-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content">
                        <h5>Pendientes de pago Pre-Primaria</h5>
                        <h2><span class="counter">0</span>/0</h2>
                            <div class="text-center">
                                <div id="Pre-Primaria"></div>
                            </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content">
                        <h5>Pendientes de pago Primaria</h5>
                        <h2><span class="counter">0</span>/0</h2>
                            <div class="text-center">
                                <div id="Primaria"></div>
                            </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content">
                        <h5>Pendientes de pago Basico</h5>
                        <h2><span class="counter">0</span>/0</h2>
                        <div class="text-center">
                            <div id="Basico"></div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content">
                        <h5>Pendientes de pago Diversificado</h5>
                        <h2><span class="counter">0</span>/0</h2>
                            <div class="text-center">
                                <div id="Diversificado"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <center><h1>Tabla <span class="table-project-n">Reportes Alumnos</span></h1></center>
                                </div>
                            </div>
                    <div class="responsiveTbl">
                            <table>
                              <thead>
                                <tr>
                                 <th><center>#</center> </th>
                                  <th><center>Alumno</center> </th>
                                  <th><center>Grado</center> </th>
                                  <th><center>Seccion</center> </th>
                                  <th><center>Maestro</center> </th>
                                  <th><center>Tipo</center> </th>
                                  <th><center>Descripcion</center> </th>
                                  <th><center>Fecha</center> </th>
                                  <th><center>Accion</center> </th>
                                </tr>
                              </thead>
                              <tbody>
                                {%for reporte in reportes %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{reporte.Alumno.Primer_Nombre}} {{reporte.Alumno.Primer_Apellido}}</td>
                                  <td><span class="price">{{reporte.Alumno.Grado}} </span></td>
                                  <td>{{reporte.Alumno.Seccion}}</td>
                                  <td>{{reporte.Personal}}</td>
                                  <td>{{reporte.Tipo}}</td>
                                  <td>{{reporte.Descripcion}}</td>
                                  <td>{{reporte.Fecha_Ingreso}}</td>
                                  <td><a href="#" class="btn">Solucion</a></td>
                                </tr>
                                {%endfor%}
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>
         </div>
                </div>

                <div class="data-table-area mg-b-15">
                    <div class="container-fluid">
                        <div class="row">
        
        
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="sparkline13-list">
                                    <div class="sparkline13-hd">
                                        <div class="main-sparkline13-hd">
                                            <h1>Tabla <span class="table-project-n">Alumnos </span></h1>
                                        </div>
                                    </div>
                                    <div class="sparkline13-graph">
                                        <div class="datatable-dashv1-list custom-datatable-overright">
                                         
                                            <table id="table" data-toggle="table" data-pagination="false" data-search="true" data-show-columns="false" data-show-pagination-switch="false" data-show-refresh="true" data-key-events="false" data-show-toggle="false" data-resizable="true" data-cookie="true"
                                                data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                                <thead>
                                                    <tr>
                                                        <th data-field="state" data-checkbox="true"></th>
                                                        <th data-field="id">Codigo</th>
                                                        <th data-field="pnombre" data-editable="true">Nombres</th>
                                                        <th data-field="snombre" data-editable="true">Apellidos</th>                                          
                                                        <th data-field="phone" data-editable="true">Numero</th>
                                                      
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                {% for alumno in alumnos %}
                                                    <tr>
                                                        <td></td>
                                                        {% if perms.administracion.change_alumno %}
                                                        <td>{{ alumno.Codigo }}</td>
                                                        {% else %}
                                                        <td>{{ alumno.Codigo }}</td>
                                                        {% endif %}
        
                                                        <td>{{ alumno.Primer_Nombre }} {{ alumno.Segundo_Nombre }}</td>
                                                        <td>{{ alumno.Primer_Apellido }} {{ alumno.Segundo_Apellido }}</td>
                                                        <td>{{ alumno.telefono }}</td>
                                                       
                                                      
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="sparkline13-list">
                                    <div class="sparkline13-hd">
                                        <div class="main-sparkline13-hd">
                                            <h1 >Tabla <span class="table-project-n">maestros</span></h1>
                                        </div>
                                    </div>
                                    <div class="sparkline13-graph">
                                        <div class="datatable-dashv1-list custom-datatable-overright">
                                       
                                            <table id="table" data-toggle="table" data-pagination="false" data-search="true" data-show-columns="false" data-show-pagination-switch="false" data-show-refresh="true" data-key-events="false" data-show-toggle="false" data-resizable="true" data-cookie="true"
                                            data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                                <thead>
                                                    <tr>
                                                        <th data-field="state" data-checkbox="true"></th>
                                           
                                                        <th data-field="pnombre" data-editable="true">Nombres</th>
                                                        <th data-field="snombre" data-editable="true">Apellidos</th>                                          
                                                        
                                                        <th data-field="grado" data-editable="true">Grado encargado</th>
                                                     
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                {% for maestro in maestros %}
                                                    <tr>
                                                        <td></td>
                                                        <td>{{ maestro.Primer_Nombre }} 
                                                        {% if maestro.Segundo_Nombre != "N/A" %}
                                                        {{ maestro.Segundo_Nombre }}
                                                        {% endif %}
                                                        </td>
                                                        <td>{{ maestro.Primer_Apellido }} 
                                                        {% if maestro.Segundo_Apellido != "N/A" %}
                                                        {{ maestro.Segundo_Apellido }}
                                                        {% endif %}
        
                                                        </td>
                                                      
                                                        <td>{{ alumno.Grado }}</td>
                                                       
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        



                <script src="{% static 'administracion/js/data-table/bootstrap-table.js' %}"></script>
                <script src="{% static 'administracion/js/data-table/tableExport.js' %}"></script>
                <script src="{% static 'administracion/js/data-table/data-table-active.js' %}"></script>
                <script src="{% static 'administracion/js/data-table/bootstrap-table-editable.js' %}"></script>
                <script src="{% static 'administracion/js/data-table/bootstrap-editable.js' %}"></script>
                <script src="{% static 'administracion/js/data-table/bootstrap-table-resizable.js' %}"></script>
                <script src="{% static 'administracion/js/data-table/colResizable-1.5.source.js' %}"></script>
                <script src="{% static 'administracion/js/data-table/bootstrap-table-export.js' %}"></script>
            


<style type="text/css">
    @media only screen and (max-width: 767px) {
  .data-table-area thead {
    display: none; }

  .data-table-area tr {
    margin: 0 0 15px;
    display: block; }

  .data-table-area td {
    display: block;
    text-align: left;
    padding: 10px 20px 10px 160px;
    position: relative; }
    .data-table-area td:before {
      content: '#';
      font-weight: 500;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%); }
    .data-table-area td:nth-of-type(2):before {
      content: 'Alumno'; }
    .data-table-area td:nth-of-type(3):before {
      content: 'Grado'; }
    .data-table-area td:nth-of-type(4):before {
      content: 'Seccion'; }
    .data-table-area td:nth-of-type(5):before {
      content: 'Maestro';
       }
       .data-table-area td:nth-of-type(6):before {
      content: 'Tipo';
       }
       .data-table-area td:nth-of-type(7):before {
      content: 'Descripcion';
       }
        .data-table-area td:nth-of-type(8):before {
      content: 'Fecha';
       }
        .data-table-area td:nth-of-type(9):before {
      content: 'Accion';
       }
       
  


</style>
       <script src="{% static 'administracion/js/sparkline/jquery.sparkline.min.js' %}"></script>

<script>
(function ($) {
 "use strict";
    var sparklineCharts = function(){
         $("#Pre-Primaria").sparkline([20, 100], {
             type: 'pie',
             height: '140',
             sliceColors: ['#006DF0', '#ebebeb']
         });
        $("#Primaria").sparkline([1, 4], {
             type: 'pie',
             height: '140',
             sliceColors: ['#006DF0', '#ebebeb']
         });
        $("#Basico").sparkline([1, 4], {
             type: 'pie',
             height: '140',
             sliceColors: ['#006DF0', '#ebebeb']
         });
        $("#Diversificado").sparkline([1, 4], {
             type: 'pie',
             height: '140',
             sliceColors: ['#006DF0', '#ebebeb']
         });

    };

    var sparkResize;

    $(window).resize(function(e) {
        clearTimeout(sparkResize);
        sparkResize = setTimeout(sparklineCharts, 500);
    });

    sparklineCharts();



    
    
})(jQuery);
</script>

{% endblock %}