{% extends 'administracion/base.html' %}
{% block content %}

<!-- Static Table Start -->
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>Tabla <span class="table-project-n">Alumnos</span> Pendientes De Examen</h1>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div id="toolbar">
                                        <select class="form-control dt-tb">
                                            <option value="">Exportar Normal</option>
                                            <option value="all">Exportar Todo</option>
                                            <option value="selected">Exportar Seleccionados</option>
                                        </select>
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true"></th>
                                                <th data-field="id">Codigo</th>
                                                <th data-field="pnombre" data-editable="true">Primer Nombre</th>
                                                <th data-field="snombre" data-editable="true">Segundo Nombre</th>
                                                <th data-field="papellido" data-editable="true">Primer Apellido</th>
                                                <th data-field="sapellido" data-editable="true">Segundo Apellido</th>   
                                                <th data-field="phone" data-editable="true">Numero</th>
                                                <th data-field="date" data-editable="true">Cumpleaños</th>
                                                <th data-field="grado" data-editable="true">Grado</th>
                                                <th data-field="action">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        {% for alumno in alumnos %}
                                            <tr>
                                                <td></td>
                                                <td><a href="{% url 'estudiante' pk=alumno.pk %}">{{ alumno.Codigo }}</a></td>
                                                <td>{{ alumno.Primer_Nombre }}</td>
                                                <td>{{ alumno.Segundo_Nombre }}</td>
                                                <td>{{ alumno.Primer_Apellido }}</td>
                                                <td>{{ alumno.Segundo_Apellido }}</td>
                                                <td>{{ alumno.telefono }}</td>
                                                <td>{{ alumno.nacimiento }}</td>
                                                <td>{{ alumno.Grado }}</td>
                                                <td>{{ alumno.estado }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Static Table End -->
        
{% endblock %}