{% extends 'administracion/base.html' %}
{% block content %}
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>Tabla <span class="table-project-n">Alumnos</span></h1>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}