{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}

 <!-- income order visit user End -->
<div class="dashtwo-order-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">0</span>%</h3>
                                    <p>Pagos Pre-primaria Agosto</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">0</span>%</h3>
                                    <p>Pagos Primaria Agosto</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">0</span>%</h3>
                                    <p>Pagos Basico Agosto</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-edu-wrap ant-res-b-30 reso-mg-b-30">
                    <div class="skill-content-3 analytics-edu">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead-content">
                                    <h3><span class="counter">0</span>%</h3>
                                    <p>Pagos Diversificado Agosto</p>
                                </div>
                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>0%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="analysis-rounded-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content">
                        <h5>Pendientes de pago Pre-Primaria</h5>
                        <h2><span class="counter">0</span>/0</h2>
                            <div class="text-center">
                                <div id="Pre-Primaria"></div>
                            </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content">
                        <h5>Pendientes de pago Primaria</h5>
                        <h2><span class="counter">0</span>/0</h2>
                            <div class="text-center">
                                <div id="Primaria"></div>
                            </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content">
                        <h5>Pendientes de pago Basico</h5>
                        <h2><span class="counter">0</span>/0</h2>
                        <div class="text-center">
                            <div id="Basico"></div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-rounded reso-mg-b-30">
                    <div class="analytics-rounded-content">
                        <h5>Pendientes de pago Diversificado</h5>
                        <h2><span class="counter">0</span>/0</h2>
                            <div class="text-center">
                                <div id="Diversificado"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





 <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <center><h1>Tabla <span class="table-project-n">Alumnos</span></h1></center>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div id="toolbar">
                                        <select class="form-control dt-tb">
                                            <option value="">Exportar Normal</option>
                                            <option value="all">Exportar Todo</option>
                                            <option value="selected">Exportar Seleccionados</option>
                                        </select>
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true"></th>
                                                <th data-field="id">Codigo</th>
                                                <th data-field="pnombre" data-editable="true">Nombres</th>
                                                <th data-field="snombre" data-editable="true">Apellidos</th>                                          
                                                <th data-field="phone" data-editable="true">Numero</th>
                                                <th data-field="date" data-editable="true">Cumpleaños</th>
                                                <th data-field="grado" data-editable="true">Grado</th>
                                                <th data-field="sapellido" data-editable="true">Seccion</th> 
                                                <th data-field="action">Estado</th>
                                                <th data-field="acciones">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        {% for alumno in alumnos %}
                                            <tr>
                                                <td></td>
                                                {% if perms.administracion.change_alumno %}
                                                <td>{{ alumno.Codigo }}</td>
                                                {% else %}
                                                <td>{{ alumno.Codigo }}</td>
                                                {% endif %}

                                                <td>{{ alumno.Primer_Nombre }} {{ alumno.Segundo_Nombre }}</td>
                                                <td>{{ alumno.Primer_Apellido }} {{ alumno.Segundo_Apellido }}</td>
                                                <td>{{ alumno.telefono }}</td>
                                                <td>{{ alumno.nacimiento }}</td>
                                                <td>{{ alumno.Grado }}</td>
                                                <td>{{ alumno.Seccion }}</td>
                                                <td>{{ alumno.estado }}</td>
                                                <td>
                  <a target="_blank" href="{% url 'alumno_editar' pk=alumno.pk %}" class="verhorario btn btn-sm btn-success"><i class="fa fa-pencil-square-o"></i> Editar</a>
                 
                  <button data-id="#" class="delhorario btn btn-sm btn-danger"><i class="fa fa-times"></i> Eliminar</button>
                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">


                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <center><h1>Tabla <span class="table-project-n">Grados</span></h1></center>
                                </div>
                            </div>
                           
                        </div>
                    </div>

              
                    <div class="col-lg-6 col-md-6    col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <center><h1>Tabla <span class="table-project-n">Aulas</span></h1></center>
                                </div>
                            </div>
                           
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <center><h1>Tabla <span class="table-project-n">Exámenes Pendientes</span></h1></center>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                           
                                    <table id="table" data-toggle="table" data-pagination="false" data-search="true" data-show-columns="false" data-show-pagination-switch="false" data-show-refresh="true" data-key-events="false" data-show-toggle="false" data-resizable="true" data-cookie="true"
                                    data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true"></th>
                                                <th data-field="palumno">Alumno: Codigo/Nombres/Grado</th>
                                                <th >Nota Idioma:</th>
                                                <th>Comentario Idioma:</th>
                                                <th>Resultado:</th>
                                                <th >Nota Matematicas:</th>
                                                <th>Comentario Matematicas:</th>
                                                <th >Resultado:</th>
                                                <th >Nota Ingles:</th>
                                                <th >Comentario Ingles:</th>
                                                <th>Resultado:</th>
                         
                                                <th data-field="date" data-editable="true">Comentario:</th>
                                                <th data-field="tcasa" data-editable="true">Resultado Del Examen:</th>
                                                <th data-field="fecha" data-editable="true">Fecha Del Examen:</th>
                                                {%if pendiente %}
                                                <th data-field="acciones">Acciones</th>
                                                {%endif%}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        {% for examen in examenes %}
                                            <tr>
                                                <td></td>
                                               <td>{{ examen.Alumno }}</td>
                                               <td>{{ examen.Nota_Idioma }}</td>
                                               <td>{{ examen.Comentario_Idioma }}</td>
                                               <td>{{ examen.Estado_Idioma }}</td>

                                               <td>{{ examen.Nota_Matematicas }}</td>
                                               <td>{{ examen.Comentario_Matematicas }}</td>
                                               <td>{{ examen.Estado_Matematicas }}</td>
                                                <td>{{ examen.Nota_Ingles }}</td>
                                               <td>{{ examen.Comentario_Ingles }}</td>
                                               <td>{{ examen.Estado_Ingles }}</td>
                                              
                                               
                                                <td>{{ examen.Comentario }}</td>
                                                <td>{{ examen.Estado_Examen }}</td>
                                                <td>{{ examen.fechaingreso }}</td>
                                                {%if pendiente %}
                                                <td><a target="_blank" href="{% url 'examenes_editar' pk=examen.pk %}" class="verhorario btn btn-sm btn-success"><i class="fa fa-pencil-square-o"></i> Actualizar</a></td>
                                                {%endif%}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

              


                </div>
            </div>
        </div>



 <script src="{% static 'administracion/js/sparkline/jquery.sparkline.min.js' %}"></script>
  
<!-- data table JS
        ============================================ -->
   

    <script src="{% static 'administracion/js/data-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/tableExport.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/data-table-active.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/bootstrap-table-editable.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/bootstrap-editable.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/bootstrap-table-resizable.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/colResizable-1.5.source.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/bootstrap-table-export.js' %}"></script>


<script>
(function ($) {
 "use strict";
    var sparklineCharts = function(){
         $("#Pre-Primaria").sparkline([20, 100], {
             type: 'pie',
             height: '140',
             sliceColors: ['#006DF0', '#ebebeb']
         });
        $("#Primaria").sparkline([1, 4], {
             type: 'pie',
             height: '140',
             sliceColors: ['#006DF0', '#ebebeb']
         });
        $("#Basico").sparkline([1, 4], {
             type: 'pie',
             height: '140',
             sliceColors: ['#006DF0', '#ebebeb']
         });
        $("#Diversificado").sparkline([1, 4], {
             type: 'pie',
             height: '140',
             sliceColors: ['#006DF0', '#ebebeb']
         });

    };

    var sparkResize;

    $(window).resize(function(e) {
        clearTimeout(sparkResize);
        sparkResize = setTimeout(sparklineCharts, 500);
    });

    sparklineCharts();



    
    
})(jQuery);
</script>
{% endblock %}