{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'administracion/js/vendor/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'administracion/js/vendor/exporting.js' %}"></script>
<script src="{% static 'administracion/js/vendor/highcharts.js' %}"></script>
    


    <body>

<div class="product-sales-area mg-tb-30">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  ">
                       
                        <div class="analysis-progrebar ">
                            <br>
                            <div class="portlet-title">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="caption pro-sl-hd">
                                            <span class="caption-subject"><b>Promedio De Notas</b></span>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <ul class="list-inline cus-product-sl-rp">
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #006DF0;"></i>Nota Mas Alta</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #f90a0a;"></i>Nota Mas Baja</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle" style="color: #65b12d;"></i>Promedio General</h5>
                                </li>
                            </ul>
                            <div id="grafica"></div>
                        </div>
                    </div>
          
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="analysis-progrebar ">
                            <div class="analysis-progrebar-content">
                                <h5>Nota Mas Alta </h5>
                                <h2 class="storage-right"><span class="counter">{{notaalta.nota}}</span> Pts.</h2>
                                <div class="progress progress-mini ug-1">
                                    <div style="width: {{notaalta.nota}}%;" class="progress-bar"></div>
                                </div>
                                <div class="m-t-sm small">
                                    <p>Primera Unidad:<font color='Blue'> <span class="counter">{{notaalta.nota}} </span></font><font color='gray' size="-5"> {{notaalta.Materia}}</font></p>
                                    <p>Segunda Unidad: <font color='Blue'><span class="counter">0</span></font></p>
                                    <p>Tercera Unidad: <font color='Blue'><span class="counter">0</span></font> </p>
                                    <p>Cuarta Unidad:  <font color='Blue'><span class="counter">0</span></font></p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="analysis-progrebar  ">
                            <div class="analysis-progrebar-content">
                                <h5>Promedio General</h5>
                                <h2 class="storage-right"><span class="counter">{{promedio.nota}}</span> Pts.</h2>
                                <div class="progress progress-mini ug-3">
                                    <div style="width: {{promedio.nota}}%;" class="progress-bar progress-bar-danger"></div>
                                </div>
                                <div class="m-t-sm small">
                                    <p>Primera Unidad: <font color='green'><span class="counter">{{promedio.nota}}</span></font></p>
                                    <p>Segunda Unidad: <font color='green'><span class="counter">0</span></font></p>
                                    <p>Tercera Unidad: <font color='green'><span class="counter">0</span></font> </p>
                                    <p>Cuarta Unidad:  <font color='green'><span class="counter">0</span></font></p>
                                </div>
                            </div>
                        </div><br>
                        <div class="analysis-progrebar ">
                            <div class="analysis-progrebar-content">
                                <h5>Nota Mas Baja</h5>
                                <h2 class="storage-right"><span class="counter">{{notabaja.nota}}</span> Pts.</h2>
                                <div class="progress progress-mini ug-4">
                                    <div style="width: {{notabaja.nota}}%;" class="progress-bar progress-bar-danger"></div>
                                </div>
                                <div class="m-t-sm small">
                                   <p>Primera Unidad: <font color='Red'><span class="counter">{{notabaja.nota}}</span></font><font color='gray' size="-5"> {{notabaja.Materia}}</font></p>
                                    <p>Segunda Unidad: <font color='Red'><span class="counter">0</span></font></p>
                                    <p>Tercera Unidad: <font color='Red'><span class="counter">0</span></font> </p>
                                    <p>Cuarta Unidad:  <font color='Red'><span class="counter">0</span></font></p>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </div>


<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Notas Primera Unidad</h3>
                            <ul class="basic-list">

                                {%for nota in Notas%}
                                <li>{{nota.Materia}} 
                                    {% if nota.nota == 100 %}
                                    <img src="{% static 'administracion/img/start.png'%}" width="8%">
                                    {% endif %}
                                <span class="pull-right 

                                    {%if nota.Estado == 'No_Aprobado' or nota.Estado == None or nota.Estado == 'Pendiente' %}
                                    label-purple label-7 label
                                    {% elif nota.Estado == 'Aprobado' %}
                                        {%if nota.nota < 60 %}
                                        label-info label-4 label
                                        {% elif nota.nota >= 60 and nota.nota <= 74%}
                                        label-success label-3 label
                                        {% elif nota.nota >= 75 and nota.nota <= 99%}
                                        label-danger label-1 label
                                        {% elif nota.nota > 99 %}
                                        label-warning label-5 label
                                        {% endif %}
                                    {% endif %}

                                    ">
                                    {{nota.nota}} Pts
                                </span>
                                
                                </li>
                                {%endfor%}
                                
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="white-box res-mg-t-30 table-mg-t-pro-n">
                            <h3 class="box-title">Promedio Notas Primera Unidad</h3>
                            <ul class="country-state">
                              
                                <li>
                                    <h2><span class="counter">{{notaalta.nota}}</span> Pts</h2> <small>Nota Mas Alta ({{notaalta.Materia}})</small>
                                    <div class="pull-right">{{notaalta.nota}} Pts <i class="fa fa-level-up text-danger ctn-ic-1"></i></div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger ctn-vs-1" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{notaalta.nota}}%;"> <span class="sr-only">{{notaalta.nota}} Pts Complete</span></div>
                                    </div>
                                </li>
                                
                                <li>
                                    <h2><span class="counter">{{notaalta2.nota}}</span> Pts</h2> <small>Segunda Nota Mas Alta ({{notaalta2.Materia}})</small>
                                    <div class="pull-right">{{notaalta2.nota}} Pts <i class="fa fa-level-up text-success ctn-ic-2"></i></div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info ctn-vs-2" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{notaalta2.nota}}%;"> <span class="sr-only">{{notaalta2.nota}} Pts</span></div>
                                    </div>
                                </li>
                                <li>
                                    <h2><span class="counter">{{promedio.nota}}</span> Pts</h2> <small>Promedio General</small>
                                    <div class="pull-right">{{promedio.nota}} Pts <i class="fa fa-level-up text-success ctn-ic-3"></i></div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success ctn-vs-3" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{promedio.nota}}%;"> <span class="sr-only">{{promedio.nota}} Pts</span></div>
                                    </div>
                                </li>
                                <li>
                                    <h2><span class="counter">{{notabaja.nota}}</span> Pts</h2> <small>Nota Mas Baja({{notabaja.Materia}})</small>
                                    <div class="pull-right">{{notabaja.nota}} Pts <i class="fa fa-level-down text-success ctn-ic-4"></i></div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success ctn-vs-4" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{notabaja.nota}}%;"> <span class="sr-only">{{notabaja.nota}} Pts</span></div>
                                    </div>
                                </li>
                                
                            </ul>

                        </div>
                        <br>
                        <div class="courses-inner ">
                            <div class="courses-title">
                                <a href="#"><img src="img/courses/1.jpg" alt="" /></a>
                                <h2>Informacion Del Estudiante:</h2>
                            </div>
                            <div class="courses-alaltic">
                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-university"></i></span> <b>Grado:</b>{{alumno.Grado}}</span>
                                <br>
                            </div>
                            <div class="course-des">
                                <p><span><i class="fa fa-clock"></i></span> <b>Maestro Encargado:</b> {{Maestro.Personal}}</p>
                                <p><span><i class="fa fa-clock"></i></span> <b>No. De Estudiantes:</b> 1</p>
                                
                            </div>
                            <div class="product-buttons">
                                <button type="button" class="button-default cart-btn">Ver Perfil</button>
                            </div>
                        </div>

                    </div>
                   
                </div>
            </div>





    <script>
     $(function($){
         $('#grafica').highcharts({
             title:{text:'Notas Por Unidad'},
             xAxis:{categories:['Primera Unidad','Segunda Unidad','Tercera Unidad','Cuarta Unidad']},
             yAxis:{title:'Porcentaje %',plotLines:[{value:0,width:1,color:'#0951a2'}]},
             tooltip:{valueSuffix:' Puntos'},
             series:[
             {type: 'spline',name: '{{notaalta.Materia}}',data: [{{notaalta.nota}}, 0, 0, 0], color:'#006DF0'},
             {type: 'spline',name: '{{notabaja.Materia}}',data: [{{notabaja.nota}},0, 0,0], color:'#f90a0a'},
             {type: 'spline',name: 'Promedio General',data: [{{promedio.nota}},0, 0,0], color:'#65b12d'}
           ],
             plotOptions:{line:{dataLabels:{enabled:true}}}
         });
     });
    </script>
</body>
{% endblock %}