<div class="tab-pane" id="datos">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <h4 class="info-text"> ¿Conoces los siguientes datos de tu hijo? </h4>
                                                            </div>
                                                            <div class="col-sm-10 col-sm-offset-1">
                                                                <div class="input-group">
                                                                   <span class="input-group-addon">
                                                                            <i class="material-icons">
                                                                                local_hospital</i>
                                                                        </span>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Ingresa aqui si tu hijo cuenta con alguna enfermedad, separalas por comas.</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-10 col-sm-offset-1">
                                                                 <div class="input-group">
                                                                   <span class="input-group-addon">
                                                                            <i class="material-icons">local_pharmacy</i>
                                                                        </span>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Ingresa aqui si tu hijo(a) es alergico(a) a algo, separalas por comas.</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5 ">
                                                                 <div class="input-group">
                                                                   <span class="input-group-addon">
                                                                            <i class="material-icons">phone_paused</i>
                                                                        </span>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Otro telefono (casa)</label>
                                                                    <input type="text" class="form-control">
                                                                </div>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                    </div>