{% extends 'administracion/base.html' %}
{% block content %}
 
                                                        

   <!-- VER EDITAR Y ASIGNAR ENCARGADO--->
   <!--CUADRO IZQUIERDA-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="profile-info-inner">
                            <div class="profile-img">
                                <img src="img/profile/1.jpg" alt="" />
                            </div>
                                <div class="profile-details-hr">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                        <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                            <p><b>Código</b><br /> {{alumno.Codigo}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                        <div class="address-hr">
                                            <p><b>Grado</b><br /> {{alumno.Grado}}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                        <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                            <p><b>Primer Nombre</b><br /> {{alumno.Primer_Nombre}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                        <div class="address-hr">
                                            <p><b>Segundo Nombre</b><br /> {{alumno.Segundo_Nombre}}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                        <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                            <p><b>Primer Apellido</b><br /> {{alumno.Primer_Apellido}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                        <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                            <p><b>Segundo Apellido</b><br /> {{alumno.Segundo_Apellido}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN CUADRO IZQUIERDA-->
                    <!--  Cuadro Principal-->
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#editaralumnos">Editar</a></li>
                                <li><a href="#encargados"> Encargados</a></li>
                                <li><a href="#papeleria">Papeleria</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
                                <div class="product-tab-list tab-pane fade active in" id="editaralumnos">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <!---FORMULARIO EDITAR ALUMNOS--->


                                               <div class="col-lg-12">
                                                <H1>Editar Alumno</H1>
                                                <br><br>
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                                                {% if form.errors %}
                                <div class="alert-icon shadow-inner wrap-alert-b">
                            <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                                <i class="fa fa-window-close edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <i class="fa fa-times edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <p class="message-mg-rt"><strong><center>{{ form.errors }}</center></strong> </p>
                            </div>
                        </div>
                              {% endif %}
                                                        <!---codigo--->

                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                            <label class="login2 pull-right pull-right-pro" for="{{ form.Codigo.id_for_label }}">Código: </label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                                 {{form.Codigo}}
                                                                </div>
                                                            </div>
                                                         <!---nombres---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Primer_Nombre.id_for_label }}">Primer Nombre</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                 {{form.Primer_Nombre}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Segundo_Nombre.id_for_label }}">Segundo Nombre</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form.Segundo_Nombre}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Tercer_Nombre.id_for_label }}">Tercer Nombre</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form.Tercer_Nombre}}
                                                            </div>
                                                            <!---apellidos---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Primer_Apellido.id_for_label }}">Primer Apellido</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form.Primer_Apellido}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Segundo_Apellido.id_for_label }}">Segundo Apellido</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form.Segundo_Apellido}}
                                                            </div>
                                                            <!---GRADO---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Grado.id_for_label }}">Grado</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                    {{form.Grado}}
                                                              </div>
                                                            </div> 
                                                            <!---Seccion---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.Seccion.id_for_label }}">Seccion:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                 <div class="form-select-list">
                                                                    {{ form.Seccion }}
                                                                </div> 
                                                              
                                                            </div>   
                                                            <!---GÉNERO---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Genero.id_for_label }}">Género</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                   {{form.Genero}}
                                                              </div>
                                                            </div> 
                                                            <!---Fecha de Nacimiento---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.nacimiento.id_for_label }}">Fecha de Nacimiento</label>
                                                            </div> 
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" class="form-group data-custon-pick" id="data_3" >    
                                                                <div class="input-group date">
                                                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                 {{form.nacimiento}}
                                                                </div>
                                                            </div> 
                                                            <!---Dirección---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}">Dirección</label>
                                                            </div>    
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form.direccion}}
                                                            </div>
                                                             <!---Teléfono---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.telefono.id_for_label }}">Teléfono </label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                                 {{form.telefono}}
                                                                </div>
                                                            </div><br><br><br>
                                                            <!---ESTADO--->
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.estado.id_for_label }}">Estado Del Alumno:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                 <div class="form-select-list">
                                                                    {{form.estado}}
                                                                </div>
                                                               
                                                            </div>
                                                            
                                                    </div>

                                                   <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                       <a href="..\..\"> <button class="btn btn-white">Cancelar</button></a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Guardar Cambios</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    </form>
                                                    <!---Fin Formulario Alumnos---> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="encargados">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                               <H1>Asignar Encargados</H1>
                                               <div class="sparkline10-graph">
                                <div class="static-table-list">
                                    <table class="table border-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Encargado</th>
                                                <th>Prentesco</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for encar in encargados%}
                                            <tr>
                                                <td>{{encar.encargado.pk}}</td>
                                                <td><a href="{% url 'encargado' pk=encar.encargado.pk %}">{{encar.encargado}}</a></td>
                                                <td>{{encar.parentesco}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                               <!---Seleccionar encargado---><br><br><br>


                                                 <form action="{% url 'asignacion_encargado' pk=alumno.pk %}" method="POST" class="post-form">
                                                    {% csrf_token %}
                                                                        {% if form.errors %}
                                <div class="alert-icon shadow-inner wrap-alert-b">
                            <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                                <i class="fa fa-window-close edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <i class="fa fa-times edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <p class="message-mg-rt"><strong><center>{{ form.errors }}</center></strong> </p>
                            </div>
                        </div>
                              {% endif %}
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form1.encargado.id_for_label }}">Encargado:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                    {{ form1.encargado }}
                                                              </div>
                                                            </div>   
                                                            <!---Dirección---><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}">Parentesco</label>
                                                            </div>    
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form1.parentesco}}
                                                            </div>
                                                            
                                                            <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <button href="#" class="btn btn-white" type="submit">Nuevo Encargado</button>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Guardar </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>   
                                                    </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="papeleria">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <H1>Papeleria</H1>
                                                <div class="col-lg-15">
                                                <!---nombres---><br><br><br>
                                                <form action="{% url 'agregar_papeleria' pk=alumno.pk %}" method="POST" class="post-form">
                                                                        {% csrf_token %}
                                                {% for non_field_error in form2.non_field.errors %}
                                                p.<help class="is-danger">{{ non_field_error}}</help>
                                                {% endfor %}
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Nombre de Padre:</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form2.Padre}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Nombre de Madre</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form2.Madre}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Alérgias</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form2.Alergias}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Enfermedades</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form2.Enfermedades}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Grupo Sanguíneo</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form2.Tipo_Sangre}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Nombre Doctor</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                {{form2.Nombre_Doctor}}
                                                            </div><br><br><br>
                                                            <!---Teléfono--->
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Teléfono Doctor </label>
                                                            </div>
                                                            
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                                {{form2.Telefono_Doctor}}
                                                                </div>
                                                            </div><br><br><br> 
                                                            <!---Teléfono--->
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Cui </label>
                                                            </div>
                                                            
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                                {{form2.Cui}}
                                                                </div>
                                                            </div><br><br><br> 
                                                            <!---CERTIFICADOS--->
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Partida de Nacimiento</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                    {{form2.Partida_Nacimiento}}
                                                              </div>
                                                            </div> 
                                                            <!---CERTIFICADOS--->
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Certificado de Pre Primaria</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                    {{form2.Certificado_Pre_Primaria}}
                                                              </div>
                                                            </div><!---CERTIFICADOS--->
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Certificado de Primaria</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                    {{form2.Certificado_Primaria}}
                                                              </div>
                                                            </div>
                                                            <!---CERTIFICADOS--->
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Certificado de Básico</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                    {{form2.Certificado_Basico}}
                                                              </div>
                                                            </div>
                                                            <!---CERTIFICADOS--->
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Certificado de Bachillerato</label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                              <div class="chosen-select-single mg-b-20">
                                                                   {{form2.Certificado_Bachillerato}}
                                                              </div>
                                                            </div>

                                                            <!---COMENTARIOS--->
                                                            
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro">Comentario </label>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                    {{form2.Comentarios}}
                                                                
                                                            </div>   
                                                        
                                                           <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <a href="..\..\"><button class="btn btn-white">Cancelar</button></a>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Guardar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>       
                                                    </form>
                                                </div>            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fiiiiiiiiiiiiiiiiiiiiiiiiiiiiinn-->
{% endblock %}