{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}

<script type="text/javascript">
    window.onload = function() {
    {% if errores %}
    Lobibox.notify('error', {
                    showClass: 'zoomInUp',
                    hideClass: 'zoomOutDown',
                    delay: 2500,
                    msg: '{{errores}}'
                });
    {% endif %}
    {% if mensajes %}
        Lobibox.notify('success', {
                    showClass: 'rollIn',
                    hideClass: 'rollOut',
                    msg: '{{mensajes}}'
                });                        
     {% endif %}
    
};
</script>

    <!--- FORMULARIO ALUMNOS-->
        <div class="basic-form-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="sparkline8-list mt-b-30">
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd">
                                    <h1>Ingresar Horarios Por Nivel</h1>
                                </div>
                            </div>

                            <!---form--->
                            <form action="{% url 'hora' %}" method="POST" class="post-form">
                                {% csrf_token %}
                                
        
                                                    <div class="form-group-inner">
                                                        <div class="row">


                                                           <!---codigo  --->
                                                           
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                       <label class="login2 pull-right pull-right-pro" for="{{ form.Nivel.id_for_label }}"> Nivel: </label>   
                                                        </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                        
                                                        {{form.Nivel}}

                                                                </div>
                                                            </div>

                                                            <br><br><br>


                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for="{{ form.horainicio.id_for_label }}">Hora Inicio:</label>
                                                            </div>
                                                        
                        <div class='col-sm-6'>
                                                                <div class="form-group">
                                    <div class="input-group clockpicker pull-center" data-placement="left" data-align="top" data-autoclose="true">
                                        {{form.hora_inicio}}


                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>

                                                          </div>
                                                        <br><br><br>
                                                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for="{{ form.horainicio.id_for_label }}">Hora Fin:</label>
                                                            </div>


                                                <div class='col-sm-6'>
                                                                <div class="form-group">
                                    <div class="input-group clockpicker pull-center" data-placement="left" data-align="top" data-autoclose="true">
                                        {{form.hora_fin}}


                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>

                                                          </div>
                                                        <br><br><br>
                                                            
                                                 </div>


                                                        
                                                         	
                                                   <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <button class="btn btn-white" type="submit">Guardar y Añadir Nuevo</button>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Guardar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                 </div>
    							</form>
                            <!--- fin form :)--->     
                        </div>
                    </div>
                </div>   
            </div>   
        </div>


<link rel="stylesheet" type="text/css" href="{% static 'administracion/hora/dist/bootstrap-clockpicker.min.css' %}">


<style type="text/css">
.navbar h3 {
    color: #f5f5f5;
    margin-top: 14px;
}
.hljs-pre {
    background: #f8f8f8;
    padding: 3px;
}
.footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding: 40px 0;
}
.input-group {
    width: 250px;
    margin-bottom: 10px;
}



</style>

<script type="text/javascript">
$('.clockpicker').clockpicker();
</script>


<script type="text/javascript" src="{% static 'administracion/hora/dist/bootstrap-clockpicker.min.js' %}"></script>
<script type="text/javascript">
$('.clockpicker').clockpicker()
    .find('input').change(function(){
        console.log(this.value);
    });
var input = $('#single-input').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': 'now'
});

$('.clockpicker-with-callbacks').clockpicker({
        donetext: 'Done',
        init: function() { 
            console.log("colorpicker initiated");
        },
        beforeShow: function() {
            console.log("before show");
        },
        afterShow: function() {
            console.log("after show");
        },
        beforeHide: function() {
            console.log("before hide");
        },
        afterHide: function() {
            console.log("after hide");
        },
        beforeHourSelect: function() {
            console.log("before hour selected");
        },
        afterHourSelect: function() {
            console.log("after hour selected");
        },
        beforeDone: function() {
            console.log("before done");
        },
        afterDone: function() {
            console.log("after done");
        }
    })
    .find('input').change(function(){
        console.log(this.value);
    });


if (/mobile/i.test(navigator.userAgent)) {
    $('input').prop('readOnly', true);
}
</script>
<!-- notification JS
        ============================================ -->
    <script src="{% static 'administracion/js/notifications/Lobibox.js' %}"></script>
    <script src="{% static 'administracion/js/notifications/notification-active.js' %}"></script>
{% endblock %}