{% extends 'administracion/base.html' %}
{% block content %}
					
                        <div class="alert-icon shadow-inner wrap-alert-b">
							<div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                                <i class="fa fa-window-close edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <i class="fa fa-times edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <p class="message-mg-rt"><strong>El Alumno!</strong> No Tiene Registrado El Pago Por El Examen.</p>
                            </div>
                        </div>
                       
{% endblock %}