{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}
      
<script type="text/javascript">
    window.onload = function() {
    {% if errores %}
    Lobibox.notify('error', {
                    showClass: 'zoomInUp',
                    hideClass: 'zoomOutDown',
                    delay: 5500,
                    msg: '{{errores}}'
                });
    {% endif %}
    {% if mensajes %}
        Lobibox.notify('success', {
                    showClass: 'rollIn',
                    hideClass: 'rollOut',
                    msg: '{{mensajes}}'
                });                        
     {% endif %}
    
};
</script>


    <!--- FORMULARIO ALUMNOS-->
        <div class="basic-form-area mg-b-15">
            <div class="container ">
           
                <div class="row   ">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="sparkline8-list mt-b-30">
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd" >
                                        <div class="titulo-formulario">
                                            <br>
                                            <h1 style="font-family: Modern; font-size: 180%; color:white;"><center>Ingresar Alumnos</center></h1>
                                        </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <!---form--->
                            <form action="{% url 'nuevo_alumno' %}" method="POST" class="post-form">
                                {% csrf_token %}
                                {% if form.errors %}
                                <div class="alert-icon shadow-inner wrap-alert-b">
                            <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                                <i class="fa fa-window-close edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <i class="fa fa-times edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <p class="message-mg-rt"><strong><center>{{ form.errors }}</center></strong> </p>
                            </div>
                        </div>
                              {% endif %}
        
                                                    <div class="form-group-inner  ">
                                                            <div class="row ">
                                                                 <!---codigo  --->
                                                            
                                                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                               
                                                                   <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Codigo:</label>
                                                               
                                                           </div>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                   <div class="input-mark-inner mg-b-22">
                                                           
                                                           {{form.Codigo}}
   
                                                                   </div>
                                                               </div>
   
                                                               <!---nombres---><br> <br> <br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                   
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Primer Nombre:</label>
   
                                                               </div>
                                                               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                   {{form.Primer_Nombre}}
                                                                   {% for error in form.Primer_Nombre.errors %}
                                                                       <p class="help is-danger">{{ error }}</p>
                                                                   {% endfor %}
                                                               </div>
                                                               <br><br><br>
                                                         
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                   
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Segundo Nombre:</label>
                                                                  
                                                               </div>
                                                               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
   
                                                                   {{ form.Segundo_Nombre }}
                                                               </div>
                                                               <br> <br> <br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                  
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Tercer Nombre:</label>
                                                                   
                                                               </div>
                                                               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                   {{ form.Tercer_Nombre }}
                                                               </div>
                                                              
                                                               <!---apellidos---><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Primer Apellido:</label>
                                                                
                                                               </div>
                                                               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                    {{ form.Primer_Apellido }}
                                                               </div><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                   
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Segundo apellido:</label>
                                                                 
                                                               </div>
                                                               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                {{ form.Segundo_Apellido }}
                                                               </div>
                                                               <!---GRADO---><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                  
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Grado:</label>
                                                                  
                                                               </div>
                                                               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                 <div class="chosen-select-single mg-b-20">
                                                                       
                                                                            {{ form.Grado }}
                                                                       
                                                                         
                                                                 </div>
                                                               
                                                               </div>
                                                               <!---Seccion---><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                   
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Seccion:</label>
                                                                   
                                                               </div>
                                                               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <div class="form-select-list">
                                                                       {{ form.Seccion }}
                                                                   </div> 
                                                                 
                                                               </div> 
                                                               <!---GÉNERO---><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Género:</label>
                                                                 
                                                               </div>
                                                               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <div class="form-select-list">
                                                                       {{ form.Genero }}
                                                                   </div> 
                                                                 
                                                               </div> 
                                                               <!---Fecha de Nacimiento---><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Fecha De Nacimiento:</label>
                                                                
                                                               </div> 
                                                               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" class="form-group data-custon-pick" id="data_3" >    
                                                                   <div class="input-group date">
                                                                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                    {{form.nacimiento}}
                                                                   </div>
                                                               </div> 
                                                               <!---Dirección---><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                   
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Dirección:</label>
                                                                  
                                                               </div>    
                                                               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                   {{form.direccion}}
                                                               </div>
                                                                <!---Teléfono---><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                  
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Teléfono:</label>
                                                                  
                                                               </div>
                                                               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                   <div class="input-mark-inner mg-b-22">
                                                                    {{ form.telefono }}
                                                                   </div>
                                                               </div>
                                                                <!---Teléfono 2---><br><br><br>
                                                               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                  
                                                                       <label class="login2 pull-right pull-right-pro" style="font-family: calibri; font-size: 140%;">Teléfono 2:</label>
                                                                   
                                                               </div>
                                                               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                   <div class="input-mark-inner mg-b-22">
                                                                    {{ form.telefono2 }}
                                                                   </div>
                                                               </div>
   

                                                          
                                                            
                                                            </div>
                                                 </div>


                                                        
                                                         	
                                                   <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <button class="btn btn-white" type="submit">Guardar y Añadir Nuevo</button>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Guardar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                 
    							</form>
                            <!--- fin form :)--->     
                        </div>
                    </div>
                
                </div>   
            </div>
        
        </div>


         <!---FIN FORMULLARIO ALUMNOS--->
<!-- notification JS
        ============================================ -->
    <script src="{% static 'administracion/js/notifications/Lobibox.js' %}"></script>
    <script src="{% static 'administracion/js/notifications/notification-active.js' %}"></script>
         <!-- chosen JS
        ============================================ -->
    <script src="{% static 'administracion/js/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'administracion/js/chosen/chosen-active.js' %}"></script>
    <!-- datapicker JS
        ============================================ -->
    <script src="{% static 'administracion/js/datapicker/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $('#data_3 .input-group.date').datepicker({
        startView: 2,
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        format: "yyyy-mm-dd"
    });

    </script>

{% endblock %}