
{% load static %}
{% load index %}
{% load table_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>X-editable starter template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <!-- main.js -->
    <script>
    	$(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'popup';     
    
    //make username editable
    $('#Nota').editable({
            params: {
                csrfmiddlewaretoken:'{{csrf_token}}',
                model:'Asignacion_Punteo'
            },
            url: 'xed_post/',
            error: function(response, newValue) {
                return response.responseText;
            },
            success: function(response, newValue) {
                if(!response.success) return response.error_msg;
            }
        });
    
});


    </script>
  </head>

  <body>

    <div class="container">

      <h1>X-editable starter template</h1>
 {% for l in notas %}
      <div>
        <span>Username:</span>
        <a href="#" data-name="{{ l.Nota }}" id="Nota" data-type="text" data-pk="{{ l.pk }}" data-placement="right" data-title="Enter username">{{ l.Nota }}</a>
      </div>
      
      <div>
        <span>Status:</span>
        <a href="#" id="status"></a>
      </div>
{% endfor %}
      
    </div>

  </body>
</html>

