{% extends 'administracion/base.html' %}
{% block content %}
{% load static %}

<script type="text/javascript">
    window.onload = function() {
    {% if errores %}
    Lobibox.notify('error', {
                    showClass: 'zoomInUp',
                    hideClass: 'zoomOutDown',
                    delay: 1500,
                    msg: '{{errores}}'
                });
    {% endif %}
    {% if mensajes %}
        Lobibox.notify('success', {
                    showClass: 'rollIn',
                    hideClass: 'rollOut',
                    msg: '{{mensajes}}'
                });                        
     {% endif %}
    
};
</script>

     <!---ENCARGADOS FORMULARIO--->
                <!--- FORMULARIO ALUMNOS-->
        <div class="basic-form-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline8-list mt-b-30">
                            <div class="sparkline8-hd">
                                <div class="main-sparkline8-hd titulo-formulario">
                                    <br>
                                    <h1 style="font-family: Modern; font-size: 180%; color:white;"><center>Ingresar Personal</center></h1>
                                </div>
                            </div>
                            <!---form--->
                            <form action="{% url 'nuevopersonal' %}" method="POST" class="post-form">
                                {% csrf_token %}
                               {% if form.errors %}
                                <div class="alert-icon shadow-inner wrap-alert-b">
                            <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                                <i class="fa fa-window-close edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <i class="fa fa-times edu-danger-error admin-check-pro" aria-hidden="true"></i>
                                <p class="message-mg-rt"><strong><center>{{ form.errors }}</center></strong> </p>
                            </div>
                        </div>
                              {% endif %}
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            
                                                            <!---nombres---><br>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro " for="{{ form.Nombres.id_for_label }}" style="font-family: calibri; font-size: 140%;">Primer Nombre:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                  {{form.Primer_Nombre}}
                                                            </div>
                                                           
                                                            <!---nombres--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Nombres.id_for_label }}" style="font-family: calibri; font-size: 140%;">Segundo Nombre:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                  {{form.Segundo_Nombre}}
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                        </div>
                                                            
                                                            <br>
                                                        <div class="row">
                                                            <!---apellidos--->   
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Apellidos.id_for_label }}" style="font-family: calibri; font-size: 140%;">Primer Apellido:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 {{form.Primer_Apellido}}
                                                            </div>
                                                            <!---apellidos--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Apellidos.id_for_label }}" style="font-family: calibri; font-size: 140%;">Segundo Apellido:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 {{form.Segundo_Apellido}}
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                        </div>
                                                             <br>
                                                             <div class="row">
                                                             <!---Teléfono--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.telefono_casa.id_for_label }}" style="font-family: calibri; font-size: 140%;">Teléfono Casa </label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 {{form.Telefono_Casa}}
                                                                </div>
                                                           <!---Teléfono--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.telefono_celular.id_for_label }}" style="font-family: calibri; font-size: 140%;">Teléfono Celular:</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                                 {{form.Telefono_Celular}}
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                            <!---Dirección--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Dirección:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                {{form.Direccion}}
                                                            </div>
                                                            <!---DPI--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Dpi.id_for_label }}" style="font-family: calibri; font-size: 140%;">DPI:</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                                  {{form.Dpi}}
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                            <!---ESTADO--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.estado.id_for_label }}" style="font-family: calibri; font-size: 140%;">Estado Civil:</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 <div class="form-select-list">
                                                                    {{form.Estado_Civil}}
                                                                </div>
                                                               
                                                            </div>
                                                             <!---Fecha de Nacimiento--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for="{{ form.nacimiento.id_for_label }}" style="font-family: calibri; font-size: 140%;">Fecha de Nacimiento:</label>
                                                            </div> 
                                                            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-12" class="form-group data-custon-pick" id="data_3" >    
                                                                <div class="input-group date">
                                                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                 {{form.Fecha_Nacimiento}}
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                            <!---Dirección--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Lugar de nacimiento:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                {{form.Lugar_Nacimiento}}
                                                            </div>
                                                            <!---ESTADO--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for=" {{ form.estado.id_for_label }}" style="font-family: calibri; font-size: 140%;">Numero de hijos:</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                 <div class="form-select-list">
                                                                    {{form.No_Hijos}}
                                                                </div>
                                                               
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                            <!---Dirección--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Nit:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                {{form.Nit}}
                                                            </div>
                                                            <!---Dirección--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Fecha Inicio de Labores:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" class="form-group data-custon-pick" id="data_3" >    
                                                                <div class="input-group date">
                                                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                 {{form.Fecha_Inicio_Labores}}
                                                                </div>
                                                            </div> 
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                            <!---Dirección--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Nivel Academico:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                {{form.Nivel_Academico}}
                                                            </div>
                                                            <!---Dirección--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Titulo:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                {{form.Titulo}}
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                            <!---DPI--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Dpi.id_for_label }}" style="font-family: calibri; font-size: 140%;">Cedula Docente </label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                                  {{form.Cedula_Docente}}
                                                                </div>
                                                            </div>
                                                            <!---Dirección--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Registro escalafonario:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                {{form.Registro_Escalafonario}}
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                            <!---DPI--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.Dpi.id_for_label }}" style="font-family: calibri; font-size: 140%;">Salario </label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <div class="input-mark-inner mg-b-22">
                                                                  {{form.Salario}}
                                                                </div>
                                                            </div>
                                                            <!---nombres--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for="{{ form.horainicio.id_for_label }}" style="font-family: calibri; font-size: 140%;">Hora Entrada:</label>
                                                            </div>
                                                            
                                                           <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>
                                                                <div class="form-group">
                                                                  <div class="input-group clockpicker pull-center" data-placement="left" data-align="top" data-autoclose="true">
                                                                   {{form.Hora_Entrada}}
                                                                    <span class="input-group-addon">
                                                                     <span class="glyphicon glyphicon-time"></span>
                                                                     </span>
                                                                     </div>
                                                              </div> 

                                                          </div>
                                                          
                                                          </div>
                                                          <br>
                                                        <div class="row">
                                                            <!---nombres--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro"for="{{ form.horainicio.id_for_label }}" style="font-family: calibri; font-size: 140%;">Hora Salida:</label>
                                                            </div>
                                                        
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <div class="form-group">
                                                                     <div class="input-group clockpicker pull-center" data-placement="left" data-align="top" data-autoclose="true">
                                                                       {{form.Hora_Salida}}
                                                                           <span class="input-group-addon">
                                                                              <span class="glyphicon glyphicon-time"></span>
                                                                             </span>
                                                                    </div>
                                                         </div>

                                                          </div>

                                                <!---Dirección--->
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Email:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                {{form.email}}
                                                            </div><br><br><br>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                <label class="login2 pull-right pull-right-pro" for="{{ form.direccion.id_for_label }}" style="font-family: calibri; font-size: 140%;">Usuario:</label>
                                                            </div>    
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                               <input type="text" name="Usuario" class="form-control" placeholder="Ingrese un usuario valido" >
                                                            </div>
                                                        </div>
                                                    

                                                   <div class="form-group-inner">
                                                        <div class="login-btn-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3"></div>
                                                                <div class="col-lg-9">
                                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                                        <button class="btn btn-white" type="submit">Guardar y Añadir Nuevo</button>
                                                                        <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Guardar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    
                            </form> 
                            <!--- fin form :)--->     
                        </div>
                    </div>
                </div>   
            </div>   
        </div>
 



<link rel="stylesheet" type="text/css" href="{% static 'administracion/hora/dist/bootstrap-clockpicker.min.css' %}">


<style type="text/css">
.navbar h3 {
    color: #f5f5f5;
    margin-top: 14px;
}
.hljs-pre {
    background: #f8f8f8;
    padding: 3px;
}
.footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding: 40px 0;
}
.input-group {
    width: 250px;
    margin-bottom: 10px;
}



</style>

<script type="text/javascript">
$('.clockpicker').clockpicker();
</script>


<script type="text/javascript" src="{% static 'administracion/hora/dist/bootstrap-clockpicker.min.js' %}"></script>
<script type="text/javascript">
$('.clockpicker').clockpicker()
    .find('input').change(function(){
        console.log(this.value);
    });
var input = $('#single-input').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': 'now'
});

$('.clockpicker-with-callbacks').clockpicker({
        donetext: 'Done',
        init: function() { 
            console.log("colorpicker initiated");
        },
        beforeShow: function() {
            console.log("before show");
        },
        afterShow: function() {
            console.log("after show");
        },
        beforeHide: function() {
            console.log("before hide");
        },
        afterHide: function() {
            console.log("after hide");
        },
        beforeHourSelect: function() {
            console.log("before hour selected");
        },
        afterHourSelect: function() {
            console.log("after hour selected");
        },
        beforeDone: function() {
            console.log("before done");
        },
        afterDone: function() {
            console.log("after done");
        }
    })
    .find('input').change(function(){
        console.log(this.value);
    });


if (/mobile/i.test(navigator.userAgent)) {
    $('input').prop('readOnly', true);
}
</script>







                                    <!-- datapicker JS
        ============================================ -->
    <script src="{% static 'administracion/js/datapicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'administracion/js/datapicker/datepicker-active.js' %}"></script>
         <!-- touchspin JS
        ============================================ -->
    <script src="{% static 'administracion/js/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="{% static 'administracion/js/touchspin/touchspin-active.js' %}"></script>

    <!-- input-mask JS
        ============================================ -->
    <script src="{% static 'administracion/js/input-mask/jasny-bootstrap.min.js' %}"></script>
    <!-- chosen JS
        ============================================ -->
    <script src="{% static 'administracion/js/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'administracion/js/chosen/chosen-active.js' %}"></script>

 <!-- notification JS
        ============================================ -->
    <script src="{% static 'administracion/js/notifications/Lobibox.js' %}"></script>
    <script src="{% static 'administracion/js/notifications/notification-active.js' %}"></script>

    <!-- select2 JS
        ============================================ -->
    <script src="{% static 'administracion/js/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'administracion/js/select2/select2-active.js' %}"></script>
     <!-- notification JS
        ============================================ -->
    <script src="{% static 'administracion/js/notifications/Lobibox.js' %}"></script>
    <script src="{% static 'administracion/js/notifications/notification-active.js' %}"></script>
<!-- peity JS
        ============================================ -->
    <script src="{% static 'administracion/js/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'administracion/js/peity/peity-active.js' %}"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="{% static 'administracion/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'administracion/js/sparkline/sparkline-active.js' %}"></script>
{% endblock %}