<div class="tab-pane" id="padre">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4 class="info-text"> Ahora nesecitamos informacion de el padre ¿tu? </h4>
                                                </div>
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <div class="input-group">
                                                       <span class="input-group-addon">
                                                                <i class="material-icons">perm_identity</i>
                                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nombres del Padre</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                     <div class="input-group">
                                                       <span class="input-group-addon">
                                                                <i class="material-icons">assignment_ind</i>
                                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Apellidos del Padre</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-10 col-sm-offset-1">
                                                    <div class="input-group">
                                                       <span class="input-group-addon">
                                                                <i class="material-icons">more</i>
                                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Ingrese su direccion completa</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 col-sm-offset-1">
                                                     <div class="input-group">
                                                       <span class="input-group-addon">
                                                                <i class="material-icons">phone_in_talk</i>
                                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Telefono Celular</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 ">
                                                     <div class="input-group">
                                                       <span class="input-group-addon">
                                                                <i class="material-icons">phone_paused</i>
                                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Telefono de Casa</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    </div>
                                                </div>
                                               <div class="col-sm-10 col-sm-offset-1">
                                                     <div class="input-group">
                                                       <span class="input-group-addon">
                                                                <i class="material-icons">account_balance</i>
                                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Escribe el nombre de trabajo y la direccion completa</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 col-sm-offset-1">
                                                     <div class="input-group">
                                                       <span class="input-group-addon">
                                                                <i class="material-icons">phone_in_talk</i>
                                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Telefono De su trabajo</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 ">
                                                     <div class="input-group">
                                                       <span class="input-group-addon">
                                                                <i class="material-icons">account_box</i>
                                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">No. DPI</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>