{% extends 'administracion/base.html' %}
{% block content %}


<!-- Static Table Start -->
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>Tabla <span class="table-project-n">Examenes Alumnos</span></h1>
                                </div>
                            </div>
                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <div id="toolbar">
                                        <select class="form-control dt-tb">
                                            <option value="">Exportar Normal</option>
                                            <option value="all">Exportar Todo</option>
                                            <option value="selected">Exportar Seleccionados</option>
                                        </select>
                                    </div>
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th data-field="state" data-checkbox="true"></th>
                                                <th data-field="pboleta">Alumno:</th>
                                                <th data-field="palumno" data-editable="true">Boleta:</th>
                                                <th data-field="date" data-editable="true">Comentario:</th>
                                                <th data-field="tcasa" data-editable="true">Resultado Del Examen:</th>
                                                <th data-field="fecha" data-editable="true">Fecha Del Examen:</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        {% for examen in examenes %}
                                            <tr>
                                                <td></td>
                                               <td>{{ examen.Alumno }}</td>
                                                <td>{{ examen.Boleta }}</td>
                                                <td>{{ examen.Comentario }}</td>
                                                <td>{{ examen.Estado_Examen }}</td>
                                                <td>{{ examen.fechaingreso }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Static Table End -->
        
{% endblock %}