.probando-titulo {
    background-color: lightblue;
    font-family: 'Patua One', cursive;
    box-sizing: content-box;
}
.cajaspeque {
    font-family: 'Russo One', sans-serif;
    box-sizing: content-box;
}